// import partials from parent theme
@import "base/variables.scss";
@import "mixins/functions.scss";
@import "mixins/foundationMQ.scss";
@import "mixins/margins-paddings.scss";
@import "mixins/widths.scss";
@import "mixins/fonts.scss"; 
@import "base/animate.scss";
@import "base/reset.scss";
@import "base/grid.scss";
@import "base/buttons.scss";
@import "base/typography.scss";
@import "base/floating-buttons.scss";
@import "base/position.scss"; 
@import "base/colors.scss"; 


// define page variables

$prototypeHeight:                   100vh;
$prototypeWidth:                    400px;

// concept colors
$conceptBlue:                       #2196F3;
$conceptBlueDark:                   #1976D2;
$conceptBlueLight:                  #BBDEFB;
$conceptAmber:                      #FFBF00;
$conceptType:                       #212121;
$conceptTypeSecodary:               #757575;
$conceptDivider:                    #BDBDBD;


body {
    overflow: hidden;
}

// position prototype app on the screen and set it's phone background

#app {
    @include breakpoint(medium) {
        img:not(.animated) {
            opacity: 0;
        }
        
        img:not(.animated) + iframe {
            opacity: 0;
        }
    }

    &.inactive {
        right: -800px;
    }
}
#app, #concept {
    height: $prototypeHeight;
    position: fixed;
    top:0;
    right: 5%;
    width: rem-calc($prototypeWidth);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    .application {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation-delay: 3s;
        width: rem-calc(360px);
        height: rem-calc(640px);
    }
}

#concept {
    right: -800px;

    &.active {
        right: 5%;
    }

    img {
        opacity: 1;
    }

    .application {
        background: $conceptBlueDark;
    }
}


// set background 

#telenav {
    position: relative;
    min-height: 100vh;
    background: url('../images/telenav/bg.jpg');
    background-attachment: fixed;
}

// data

.data-container {
    // ensure the data container has a minimum height of viewport height. helps aligning the content on vertical middle
    min-height: 100vh;

    // use flex to position the content
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    padding: 5%;

    .btn {

        span {
            font-weight: inherit;
            display: none;
        }

        &.concept {
            .concept {
                display: inline-block;
            }
        }

        &.prototype {
            .prototype {
                display: inline-block;
            }
        }
    }

}

[data-tooltip] {

    &:before,
    &:after {
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        pointer-events: none;
        transition: all 0.25s ease;
        position: absolute;
        z-index: 3001;
        transition-delay: 0.4s;
    }

    &:after {
        content: attr(data-tooltip);
        background: #212121;
        padding: 6px 12px;
        border-radius: 4px;
        text-align: center;
        line-height: 1;
        white-space: nowrap;
    }

    &:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-top: 5px solid #212121;
        border-right: 5px solid transparent;
    }

    &:hover {

        &:before,
        &:after {
            opacity: 1;
        }

        &:after {
            top: -35px;
        }

        &:before {
            top: -7px;
        }
    }
}

// resolution modal
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3002;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);

    .modal-content {
        display: inline-block;
        max-width: 400px;
        background: $white;
        border-radius: rem-calc(4px);
        padding: rem-calc(30px);

        span {
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
        }
    }

}
