// define page variables

$prototypeHeight:                   100vh;
$prototypeWidth:                    400px;

// concept colors
$conceptBlue:                       #2196F3;
$conceptBlueDark:                   #1976D2;
$conceptBlueLight:                  #BBDEFB;
$conceptAmber:                      #FFBF00;
$conceptType:                       #212121;
$conceptTypeSecodary:               #757575;
$conceptDivider:                    #BDBDBD;

// import partials from parent theme
@import "base/variables.scss";
@import "mixins/functions.scss";
@import "mixins/foundationMQ.scss";
@import "mixins/margins-paddings.scss";
@import "mixins/widths.scss";
@import "mixins/fonts.scss"; 
@import "base/animate.scss";
@import "base/reset.scss";
@import "base/grid.scss";
@import "base/buttons.scss";
@import "base/typography.scss";
@import "base/floating-buttons.scss";
@import "base/position.scss"; 
@import "base/colors.scss"; 
@import "templates/telenav-animated-logo.scss";  
@import "templates/telenav-apps.scss";  
@import "vendor/slick";
@import "vendor/slick-theme";


// set background 
#telenav {
    position: relative;
    min-height: 100vh;
    background: url('../images/telenav/bg.jpg');
    background-attachment: fixed;
    overflow: hidden;
}

// data
.data-container {
    // ensure the data container has a minimum height of viewport height. helps aligning the content on vertical middle
    min-height: 100vh;

    // use flex to position the content
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    padding: 5%;

    .btn {

        span {
            font-weight: inherit;
            display: none;
        }

        &.concept {

            .concept {
                display: inline-block;
            }
        }

        &.prototype {

            .prototype {
                display: inline-block;
            }
        }
    }
}



// resolution modal
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3002;
    display: flex;
    @include breakpoint(xlarge) {
        display: none;
    }
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);

    .modal-content {
        display: inline-block;
        max-width: 400px;
        background: $white;
        border-radius: rem-calc(4px);
        padding: rem-calc(30px);

        span {
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
        }
    }

}
