// components variables 

$padding-xlarge:    $gutter * 4;    // 120px
$padding-large:     $gutter * 3;    // 90px
$padding-medium:    $gutter * 2;    // 60px
$padding-small:     $gutter;        // 30px

.da-section-padding {
    
    @include breakpoint(xlarge) {
        padding-top: rem-calc($padding-xlarge);
        padding-bottom: rem-calc($padding-xlarge);
    }

    @include breakpoint(large only) {
        padding-top: rem-calc($padding-large);
        padding-bottom: rem-calc($padding-large);
    }

    @include breakpoint(medium only) {
        padding-top: rem-calc($padding-medium);
        padding-bottom: rem-calc($padding-medium);
    }

    @include breakpoint(small only) {
        padding-top: rem-calc($padding-small);
        padding-bottom: rem-calc($padding-small);
    }

}