.send, .receive {
    padding: 0;
}

form {
    width: 100%;
    min-height: rem-calc(330px);

    .animated {
        animation-duration: 0.5s;
    }

    .carousel-inner {
        padding: rem-calc(10px);
    }

    .carousel-item {
        min-height: rem-calc(330px);
    }

    .row {
        margin-left: rem-calc(-10px);
        margin-right: rem-calc(-10px);
    }

    [class*='col'] {
        padding: rem-calc(0 10px);
    }

    .form-group-title {
        @include font($form-title-size, $form-title-size, 27px);
        color: $form-title-color;
        margin-bottom: rem-calc(16px);
    }

    label {
        @include font($label-size, $label-size, 22px);
        color: $label-color;
        margin-bottom: rem-calc(5px);
    }
    .form-control, select.form-control:not([size]):not([multiple]) {
        margin-bottom: rem-calc(16px);
        height: rem-calc(50px);
        border-radius: rem-calc(5px);
        border-color: $input-border;

        &:focus {
            @include shadow;
        }
    }

    .button-group {
        display: flex;
        justify-content: center;
        margin-top: rem-calc(65px);

        .btn {
            min-width: rem-calc(150px);
            line-height: rem-calc(18px);
            padding: rem-calc(15px);
            color: $white;
        }
    }

    .receive-amount {
        @include font(48px, 48px, 66px);
        color: #000000;
        margin-top: rem-calc(20px);
    }

    .is-animated:not(.animated) {
        opacity: 0;
    }

    .receive-container {
        display: flex;
        flex-direction: column;
        height: 100%;

        .receive-sender-container {
            flex-grow: 1;
        }
        .button-group {
            margin-top: 0;

            @include breakpoint(medium up) {
                justify-content: flex-start;
            }
        }
    }
}

.carousel {

    .carousel-item {
        opacity: 0;
        transition: all 0.5s ease;

        &.carousel-item-left, 
        &.carousel-item-next {
            opacity:0;
        }

        &.active {
            opacity:1;
        }

    }


}