@mixin glass(
  $background: #93E5E8, 
  $background-alpha: 0.07, 
  $blur: 28px, 
  $border-color: #F7F7F7,
  $border-alpha: 0.14,
  $border-width: 1 ) {

  background: rgba($background, $background-alpha);
  border: rem-calc($border-width) solid rgba($border-color, $border-alpha);
  /* Note: currently only Safari supports backdrop-filter */
  backdrop-filter: blur($blur);
  --webkit-backdrop-filter: blur($blur);
  /* (plus shape's fill blended on top as a separate layer with 100% opacity) */
}