#about {

    .about-hero {
        .grid {
            display: grid;
            grid-template-columns: 2fr 4fr;

            @include breakpoint(small only) {
                grid-template-columns: 1fr;
            }

            .grid-cell {
                padding: 5%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .card {

                    .card-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content:  center;
                    }

                    .user-icon {
                        background: $secondary;
                        width: rem-calc(80);
                        height: rem-calc(80);
                        border-radius: 50%;
                        margin-bottom: 5%;
                        display: flex;
                        justify-content: center;
                        align-items: center; 
                        overflow: hidden;
                    }

                    .user-name {
                        margin-bottom: 5%;
                    }

                    .user-info {
                        text-align: center;
                        max-width: 70%;

                        a {
                            text-decoration: none;
                            color: inherit;
                            &:hover {
                                color: $secondary;
                            }
                        }
                    }
                }
            }
        }
    }
    .resume {
        display: flex;
        flex-direction: column;
        align-items: center;

        object {
            width: rem-calc(579px);
            height: rem-calc(874px); 
            @include breakpoint(small only) {
                width: 100%;
                padding: rem-calc(20px);
                text-align: center;
                height: auto;
            }
        }
    }
}