

#concept.active #carShare {
    width: 70%;
    display: block;
    position: relative;
    margin-top: 25%;
    margin-left: 15%;
    animation: moveToTop 0.8s ease-in forwards;
    animation-delay: 1.5s;

    .svg-object {
        fill: #FFBF00;
        stroke: #FFBF00; 
        stroke-miterlimit: 5;
        stroke-width: 2;

        &.text {
            fill: #fff;
            stroke: #fff; 
        }
    }
    
    .animate {
        fill-opacity: 0;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration: 1;
    }

    .text {
        animation-name: FillInScale;
        animation-duration: 1s;
        animation-delay: 1.5s;
        stroke-dashArray: 1500;
        stroke-dashoffset: 1500;
        transform-origin: bottom center;
    }
    
    .big-shape {
        stroke-dashArray: 3500;
        stroke-dashoffset: 3500;
        animation-name: DrawLine, FadeStroke, FillIn;
        animation-duration: 2.5s, 0.75s, 1s;
        animation-delay: 0s, 1.5s, 1.25s;
    }
}


@keyframes DrawLine {
    to {
        stroke-dashOffset: 0;
    }
}

@keyframes FadeStroke {
    to {
        stroke-opacity: 0;
    }
}

@keyframes FillIn {
    from {
        fill-opacity: 0;
    }

    to {
        fill-opacity: 1;
    }
}

@keyframes FillInScale {
    from {
        fill-opacity: 0;
        transform: scale(0) translateY(-20px);
    }

    to {
        fill-opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes moveToTop {
    from {
        margin-top: 25%;
        width: 70%;
        margin-left: 15%;
    }

    to {
        margin-top: 5%;
        width: 60%;
        margin-left: 20%;
    }
}