.grid {

    &-view-mode {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        .filter-title {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.5px;
            display: flex;
            align-items: center;
            margin-right: rem-calc(20px);

            button {
                border: none;
                background: transparent;
                color: darken($accent, 15%);
                font-size: 12px;
                padding: 5px;
                margin: 0 0 0 10px;
                cursor: pointer;
            }

        }

        &-list {
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
            
            &-item {
                width: rem-calc(30px);
                height: rem-calc(30px);
                border-radius: 2px;
                line-height: 1;
                cursor: pointer;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                .material-icons {
                    transition: all .2s ease;
                    font-size: 24px;
                }

                &.active {
                    background:$primary;
                    cursor: default;
                }
            }
        }
    }

    &-content {
        display: grid;
        grid-gap: rem-calc(30px);

        &[data-view="grid"] {
            grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        }

        &[data-view="list"] {
            grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); 
        }
    }
}




// animations
.intervention-card {
    overflow: hidden;
    position: relative;
    margin-bottom: 0;

    &.is-animating-grid {
        animation: 0.3s ease forwards animating-list;
        opacity: 1;
    }
    &.is-animating-list {
        animation: 0.3s ease forwards animating-grid;
        opacity: 1;
    }

    &.animate-list-in {
        opacity: 0;
        animation: 0.3s ease forwards list;
    }
    &.animate-grid-in {
        opacity: 0;
        animation: 0.3s ease forwards grid;
    }


    &[data-view="list"] {
        display: flex;
        justify-content: flex-start;
    }

}

@keyframes grid {
    from {
        transform: scale(0.7); opacity: 0;
    }
    to {
        transform: scale(1); opacity: 1;
    }
}

@keyframes list {
    from {
        transform: translateY(100px); opacity: 0;
    }
    to {
        transform: translateY(0px); opacity: 1;
    }
}


@keyframes animating-grid { 
    from {
        transform: scale(1); opacity: 1;
    }
    to {
        transform: scale(0.9); opacity: 0;
    }
}

@keyframes animating-list {
    from {
        transform: translateY(0px); opacity: 1;
    }
    to {
        transform: translateY(-50px); opacity: 0;
    }
}