.da-frontend-menu {
    position: absolute;
    top: rem-calc(30px);
    width: 100%;
    left: 0;
    right: 0;
    transition: all 0.3s ease;
    z-index: 1000;


    .container {
        background: $white;
        border-radius: rem-calc(4px);
        @include box-shadow(2);
    }

    &.fixed {
        position: fixed;
        background: $white;
        @include box-shadow(2);
        top: 0;

        .container {
            background: transparent;
            box-shadow: none; 
        }
    }
}

#mainNav {
    display: flex;
    justify-content: flex-end;
}

