// ===============================================
// Buttons
// ===============================================
.cta { 
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: $cta-padding-normal;
    margin-bottom: 0;
    font-size: $cta-font-size;
    font-weight: $cta-font-weight;
    line-height: $cta-line-heihgt;
    min-width: $cta-min-width;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    background: $white;
    color: $type;
    @include box-shadow(1);
    transition: all 0.25s ease-out;
    text-transform: uppercase;

    &.cta-small {
        padding: $cta-padding-small;
        font-size: $base-font-size - 4;
        min-width: $cta-min-width - 30;
    }
    
    &.cta-large {
        padding: $cta-padding-large;
        font-size: $base-font-size + 2;
        min-width: $cta-min-width + 30;
    }

    &:hover {
        @include box-shadow(3);
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        -o-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    &:focus {
        @include box-shadow(1);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }

    &:hover,
    &:focus,
    &:active {
        color: inherit;
        text-decoration: none;
    }

    &.cta-link {
        box-shadow: none;
        background: transparent;
    }

    .material-icons {
        font-size: $cta-font-size + 4;
        margin-left: 3px;
    }
}


$buttons: ( default: $white,
            primary: $primary,
            accent: $accent);

@each $key,
$color in $buttons {
    .cta-#{$key} {
        background: #{$color}; 
        color:inherit;

        &:hover:active {
            box-shadow: 0px 0px 0px 2px rgba( $color, 0.2);
        }
        &:focus {
            background: darken($color, 10%);
            box-shadow: 0px 0px 0px 2px rgba( $color, 0.2);
        }
    }
}

.cta-accent, .cta-primary {
    color: $white;
    &:hover,
    &:focus,
    &:active {
        color: $white;
    }
}

.cta-default {
    &:hover:active, &:focus {
        box-shadow: 0px 0px 0px 2px rgba( $black, 0.2);
    }
}

.cta.cta-link {
    box-shadow: none;

    &:hover, &:active, &:focus {
        box-shadow: none;
    }
}

.cta-rounded {
    border-radius: rem-calc(1000px);
    padding: 0;
    justify-content: center;
    align-items: center;
    height: rem-calc(40px);
    width: rem-calc(40px);
    min-width: rem-calc(40px);
}

//ripple
.ripple {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    border-radius: inherit;
    pointer-events: none;
}

.rippleWave {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 50%;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    background: rgba(200, 200, 200, 0.5);
    opacity: 0.45;
    animation: ripple 2s forwards;
    -webkit-animation: ripple 2s forwards;
}


@keyframes ripple {
    to {
        transform: scale(24);
        opacity: 0;
    }
}

@-webkit-keyframes ripple {
    to {
        -webkit-transform: scale(24);
        opacity: 0;
    }
}
