$check-size: 28px;

.form-check, .form-radio {
    position: relative;
    padding: 0;
    margin-bottom: 15px;

    input {
        position: absolute!important;
        opacity: 0;
        top: 0;
        left: 0;
        width: $check-size;
        height: $check-size;
        display: block;
        padding: 0;
        z-index: 10;
        pointer-events: none;
    }

    label {
        display: block;
        padding-left: 40px;
        line-height: $check-size;
        user-select: none;
        cursor: pointer;

        &:before {
            content: '';
            display: flex;
            width: $check-size;
            height: $check-size;
            border: 1px solid $input-border-color;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            position: absolute;
            left: -1px;
            top: -1px;
            background: $primary;
            box-shadow: inset 0px 0px 0px $check-size #fff;
            transition: all 0.2s linear;
            color: #fff;
            font-size: 24px;
        }

        &:after {
            content: "";
            display: flex;
            width: $check-size;
            height: $check-size;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            position: absolute;
            left: -1px;
            top: -1px;
            background: $primary;
            opacity: 0;
            transition: all 0.2s linear;
        }

        &:before,
        &:after {
            cursor: pointer;
        }

        a {
            text-decoration: none;
            font-weight: bold;
            color: inherit;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &.form-big {
        margin: 0;

        label {
            padding: rem-calc(15px);
            text-align: center;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            margin: 0;

            &:before, &:after {
                width: 100%;
                height: 100%;
                border-radius: 4px;
                top:0;
                left:0;
                color: transparent;
                background: transparent;
                align-items: flex-start;
                font-size: 0;
                box-shadow: none;
            }

            .material-icons {
                font-size: rem-calc(50px);
                margin-bottom: rem-calc(10px);
            }

        }

        input:checked + label {
            font-weight: bold;
            color: $white;
            background: $primary;
            box-shadow: none;

            &:before {
                border-color: $primary;
                content: "";
                align-items: flex-start;
                padding: rem-calc(15px);
                color: $white;
                font-size: rem-calc(20px);
                box-shadow: none;
                animation: check-pulse-small 0.5s ease;
            }

            &:after {
                animation: check-pulse-small 0.5s ease;
                box-shadow: none;
                background: $primary;
            }
        }
    }
}

.form-check {
    
    label {

        &:before {
            @extend .material-icons;
            content: "done";
        }
    }

    input:checked+label:before, label.checked:before {
        box-shadow: inset 0px 0px 0px 0px #fff;
        border-color: $primary;
    }
    input:checked+label:after, label.checked:after {
        animation: check-pulse 0.2s linear;
    }
}

.form-radio {

    label {

        &:before, &:after {
            border-radius: 50%;
        }
    }

    input:checked+label:before, label.checked:before {
        box-shadow: inset 0px 0px 0px 6px #fff;
        border-color: $primary;
    }

    input:checked+label:after, label.checked:after {
        animation: check-pulse 0.2s linear;
    }
}


.form-control {
    color: $dark;
    background-color: #fff;
    border-color: $input-border-color;
    outline: 0;
    padding: $cta-padding-normal;
    border-radius: 4px;
    color: $dark;
    height: 40px;
    box-shadow: inset 0px 0px 0px 100px $white;
    //text-transform: uppercase;

    &:focus {
        -webkit-box-shadow: 0 0 0 4px rgba($dark, 0.15), inset 0px 0px 0px 100px $white;
        box-shadow: 0 0 0 4px rgba($dark, 0.15), inset 0px 0px 0px 100px $white;
        border-color: $dark;
    }

    &:focus:invalid {
        -webkit-box-shadow: 0 0 0 4px rgba($error, 0.15), inset 0px 0px 0px 100px $white;
        box-shadow: 0 0 0 4px rgba($error, 0.15), inset 0px 0px 0px 100px $white;
    }

    &:focus:valid {
        -webkit-box-shadow: 0 0 0 4px rgba($primary, 0.15), inset 0px 0px 0px 100px $white;
        box-shadow: 0 0 0 4px rgba($primary, 0.15), inset 0px 0px 0px 100px $white;
    }
}

.has-float-label {
    position: relative;

    .form-control.valid + label, .form-control.invalid + label, label {
        position: absolute;
        cursor: text;
        font-size: rem-calc(14);
        opacity: 1;
        -webkit-transition: all .2s;
        transition: all .2s;
        top: 0px;
        left: rem-calc(20px);
        z-index: 3;
        padding: 0 3px;
        font-weight: 600;
        transform: translateY(-50%);
        line-height: rem-calc(20px);
        margin-bottom: 0;
        pointer-events: none;

        &:after {
            content: " ";
            display: block;
            position: absolute;
            background: #fff;
            height: 100%;
            top: 0px;
            left: -3px; 
            right: -3px;
            z-index: -1;
        }

        .error {
            font-size: 0;
        }

        .placeholder {
            font-size: inherit;
        }
    }

    .form-control::-webkit-input-placeholder {
        opacity: 0;
        -webkit-transition: all .2s;
        transition: all .2s
    }

    .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
        opacity: 0;
    }

    .form-control:placeholder-shown:not(:focus):not(.invalid):not(.valid) + label {
        opacity: 1;
        top: 1px;
        transform: translateY(0%);
        font-weight: 400;
        font-size: rem-calc(16);
        left: rem-calc(20px);
        line-height: rem-calc(38px);
        height: rem-calc(38px);
        color: $dark;
    } 

// STATES AND COLORS
    .form-control {

        // input is not focused, not valid nor invalid
        //

        // input is focused, valid or invalid
        &:focus {

            ~ .icon {

                &:before {
                    content: "edit";
                }

                opacity: 0.3;
            }

            &:not(:placeholder-shown) {
                color: $dark!important;
                border-color: $dark!important;

                + label {

                    color: $dark;

                    .placeholder {
                        font-size: inherit;
                    }

                    .error {
                        font-size: 0;
                    }
                }
            }
        }

        // input is not focused and invalid

        &:not(:focus) {

            &:invalid:placeholder-shown, &:placeholder-shown {
                color: $dark;
                border-color: $input-border-color;

                + label {
                    color: $dark;

                    .error {
                        font-size: 0;
                        margin-left: 0px;
                    }

                    .placeholder {
                        font-size: inherit;
                    }
                }
            }

            &:invalid:not(:placeholder-shown) {
                color: $error;
                border-color: $error;

                + label {
                    color: $error;

                    .error {
                        font-size: inherit;
                        margin-left: 5px;
                    }

                    .placeholder {
                        font-size: 0;
                    }
                }

                ~ .icon {
                    color: $error;

                    &:before {
                        content: 'error_outline'
                    }
                }
            }

        }

        &.invalid, &.invalid:placeholder-shown:not(:focus) {
            color: $error!important;
            border-color: $error!important;

            + label {
                color: $error;

                .error {
                    font-size: inherit;
                    margin-left: 5px;
                }

                .placeholder {
                    font-size: 0;
                }
            }

            ~ .icon {
                color: $error;

                &:before {
                    content: 'error_outline'
                }
            }
        }

        // input is not focused and valid

        &:not(:focus) {

            &:placeholder-shown:valid {
                border-color: $input-border-color;

                + label {
                    color: $dark;
                }
            }

            &:not(:placeholder-shown):valid {
                border-color: $input-border-color;

                + label {
                    color: $primary;
                }

                ~ .icon {
                    color: $primary;

                    &:before {
                        content: 'done';
                    }
                }
            }
        }

        &.valid {
            border-color: $input-border-color!important;

            + label {
                color: $primary!important;
            }

            ~ .icon {
                color: $primary;

                &:before {
                    content: 'done';
                }
            }
        }
    }

    .form-control::-moz-placeholder,
    .form-control:-ms-input-placeholder,
    .form-control:-moz-placeholder,
    .form-control::-webkit-input-placeholder {
        color: transparent!important;
    }
}

.form-group {
    position: relative;
    margin-bottom: rem-calc($gutter / 2);

    .icon {
        position: absolute;
        right: 0;
        top: 0;
        line-height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $input-border-color;
    }
}

.input-group {

    .has-float-label {
        display: table-cell;

        &:not(:last-child) .form-control {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

        &:not(:first-child) .form-control {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            margin-left: -1px;
        }
        .form-control {
            border-radius: 4px;
        }
    }
}

textarea.form-control {
    min-width: 100%;
    max-width: 100%;
    min-height: rem-calc(80px);
}

.form-options {

    &-wrapper {
        width: 100%;
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
        grid-gap: 15px;
        grid-auto-rows: 1fr;
    }
}

@keyframes check-pulse {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    40% {
        transform: scale(1.4);
        opacity: 0.7;
    }
    100% {
        transform: scale(2.2);
        opacity: 0;
    }
}

@keyframes check-pulse-small {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    20% {
        transform: scale(1.05);
        opacity: 0.5;
    }
    100% {
        transform: scale(1.15);
        opacity: 0;
    }
}
