body {
    font-family: $base-font;
    font-size: $base-font-size;
    line-height: floor($base-font-size + 10);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 400;
    line-height: 1.3;
}


$headings: $heading1,
$heading2,
$heading3,
$heading4,
$heading5,
$heading6;
$rem-headings: $rem-heading1,
$rem-heading2,
$rem-heading3,
$rem-heading4,
$rem-heading5,
$rem-heading6;


@media (min-width: $mobile-low) and (max-width: $large-desktop - 1) {
    h1,
    .h1 {
        font-size: $heading1 - 12;
        font-size: $rem-heading1 - 0.75;
        font-size: calc(1.75rem + ((1vw - 3.2px) * 1.3636));
        padding-bottom: $rem-heading1 - 0.75;
        font-weight: 700;
        line-height: 50px; 
    }
    h2,
    .h2 {
        font-size: $heading2 - 12;
        font-size: $rem-heading2 - 0.75;
        font-size: calc(1.5rem + ((1vw - 3.2px) * 1.3636));
        padding-bottom: $rem-heading1 - 0.75;
        font-weight: 600;
        line-height: 42px;
    }
    h3,
    .h3 {
        font-size: $heading3 - 12;
        font-size: $rem-heading3 - 0.75;
        font-size: calc(1.375rem + ((1vw - 3.2px) * 1.1364));
        padding-bottom: $rem-heading1 - 0.75;
        font-weight: 600;
        line-height: 38px;
    }
    h4,
    .h4 {
        font-size: $heading4 - 8;
        font-size: $rem-heading4 - 0.5;
        font-size: calc(1.25rem + ((1vw - 3.2px) * 0.9091));
        padding-bottom: $rem-heading1 - 0.5;
        font-weight: 600;
        line-height: 34px;
    }
    h5,
    .h5 {
        font-size: $heading5 - 6;
        font-size: $rem-heading5 - 0.375;
        font-size: calc(1.125rem + ((1vw - 3.2px) * 0.6818));
        padding-bottom: $rem-heading1 - 0.375;
        font-weight: 600;
        line-height: 28px;
    }
    h6,
    .h6 {
        font-size: $heading6 - 6;
        font-size: $rem-heading6 - 0.375;
        font-size: calc(1rem + ((1vw - 3.2px) * 0.4545));
        padding-bottom: $rem-heading1 - 0.375;
        font-weight: 700;
        line-height: 26px;
    }
    p {
        font-size: $paragraph;
        font-size: $rem-paragraph;
        font-size: calc(0.875rem + ((1vw - 3.2px) * 0.2273));
        margin-bottom: 10px;
        line-height: 22px;
        font-weight: 400;
    }
}

@media (min-width: $large-desktop) {
    @for $i from 1 through 6 {
        h#{$i},
        .h#{$i} {
            font-size: nth($headings, $i);
            line-height: nth($headings, $i) + 10;
            font-size: nth($rem-headings, $i);
            padding-bottom: (nth($rem-headings, $i) / 2);
            font-weight: 600;
        }
    }
    h1, .h1, h6, .h6 {
        font-weight: 700;  
    }


    p {
        font-size: $paragraph;
        font-size: $rem-paragraph; 
        margin-bottom: 15px;
    }
}

a {
    color: $primary;
}

small {
    font-size: 70%;
    opacity: 0.8; 
}


// ===============================================
// TEXT ALIGNMENTS
// ===============================================
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-boldest {
    font-weight: 900;
}

.text-bold, strong {
    font-weight: 700;
}

.text-semibold, b {
    font-weight: 600;
}

.text-light {
    font-weight: 300;
}

.text-italic, i, em {
    font-style: italic;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}


hr {
    margin: $gutter 0;
}


// ===============================================
// LISTS
// ===============================================
.list {
    margin: 0;
    padding: 0;
    &.list-unstyled {
        list-style-type: none;
    }
}



// ===============================================
// Blockquote
// ===============================================
blockquote {
    font-size: $heading4;
    width: 80%;
    margin: $gutter auto;
    font-family: inherit;
    color: $type;
    padding: $gutter;
    border-left: 8px solid $primary;
    line-height: 1.6;
    position: relative;
    background: darken($white, 5%);
    font-weight: 300; 
}

blockquote::before {
    font-family: sans-serif;
    content: "\201C";
    color: $primary;
    font-size: 75px;
    position: absolute;
    left: $half-gutter / 2;
    top: -$half-gutter / 2;
}

blockquote::after {
    content: '';
}

blockquote span {
    display: block;
    color: $type;
    font-size: $base-font-size;
    font-weight: 700;
    margin-top: $half-gutter;
}
