@for $i from 0 through 100 {
    .width-xs-#{$i} {
        width: percentage($i / 100) !important;
    }
}

@media (min-width: 640px) {
    @for $i from 0 through 100 {
        .width-sm-#{$i} {
            width: percentage($i / 100) !important;
        }
    }
}

@media (min-width: 1024px) {
    @for $i from 0 through 100 {
        .width-md-#{$i} {
            width: percentage($i / 100) !important;
        }
    }
}

@media (min-width: 1200px) {
    @for $i from 0 through 100 {
        .width-lg-#{$i} {
            width: percentage($i / 100) !important;
        }
    }
}
