*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration-color: accent(0.65);
}

::-moz-selection {
  background: accent(0.77);
  color: #070707;
}

::selection {
  background: accent(0.77);
  color: #070707;
}

img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "PS100";
  src: url("../../../build/fonts/ProductSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PS300";
  src: url("../../../build/fonts/ProductSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PS400";
  src: url("../../../build/fonts/ProductSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PS500";
  src: url("../../../build/fonts/ProductSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PS700";
  src: url("../../../build/fonts/ProductSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PS900";
  src: url("../../../build/fonts/ProductSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PS100i";
  src: url("../../../build/fonts/ProductSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PS300i";
  src: url("../../../build/fonts/ProductSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PS400i";
  src: url("../../../build/fonts/ProductSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PS500i";
  src: url("../../../build/fonts/ProductSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PS700i";
  src: url("../../../build/fonts/ProductSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PS900i";
  src: url("../../../build/fonts/ProductSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Slab";
  src: url("../../../build/fonts/JosefinSlab-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* fallback */
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v166/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format("woff2");
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

body {
  background: #070707;
  height: 100dvh;
  overflow: hidden;
  color: #c7c7c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.4375rem;
  background: black;
  -webkit-box-shadow: 0 0 0 0.4375rem #070707, 0 0 0 1.3125rem #545454;
          box-shadow: 0 0 0 0.4375rem #070707, 0 0 0 1.3125rem #545454;
}
.calculator-display {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.1875rem;
  margin-bottom: 0.4375rem;
  position: relative;
  background: #070707;
  -webkit-box-shadow: inset -0.125rem 0.125rem 0.25rem 0.1875rem rgba(199, 199, 199, 0.14);
          box-shadow: inset -0.125rem 0.125rem 0.25rem 0.1875rem rgba(199, 199, 199, 0.14);
}
.calculator-display-top {
  height: 2.625rem;
  font-size: 1.3125rem;
  font-family: "PS300";
}
.calculator-display-current {
  height: 3.5rem;
  font-size: 2.625rem;
  font-family: "PS500";
}
.calculator-display-top, .calculator-display-current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.875rem;
  width: 100%;
  text-overflow: ellipsis;
  max-width: 18.4375rem;
  white-space: nowrap;
  overflow: hidden;
}
.calculator-keys {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "ac ac del divide" "seven eight nine multiply" "four five six substract" "one two three add" "zero zero digit total";
  place-content: center;
  grid-gap: 0.3125rem;
  place-items: center;
}
.calculator-keys .key {
  width: 70px;
  height: 70px;
  border-radius: 0.25rem;
  border: none;
  font-family: "PS700";
  font-size: 2.1875rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  background: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.calculator-keys .key img {
  width: 1.75rem;
  height: auto;
  pointer-events: none;
}
.calculator-keys .key:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: #c2c2c2;
  border-radius: 0.25rem;
  color: #c2c2c2;
  -webkit-box-shadow: inset -0.1875rem 0.1875rem 0.125rem 0.0625rem currentColor, inset -0.4375rem 0.1875rem 0.625rem 0.1875rem rgba(255, 255, 255, 0.77);
          box-shadow: inset -0.1875rem 0.1875rem 0.125rem 0.0625rem currentColor, inset -0.4375rem 0.1875rem 0.625rem 0.1875rem rgba(255, 255, 255, 0.77);
}
.calculator-keys .key.pressed, .calculator-keys .key:active::before {
  -webkit-transform: scale(0.96);
      -ms-transform: scale(0.96);
          transform: scale(0.96);
}
.calculator-keys .key.operator:before {
  background: #ffc300;
  color: #ffc300;
}
.calculator-keys [data-key="0"] {
  grid-area: zero;
  width: 100%;
}
.calculator-keys [data-key="1"] {
  grid-area: one;
}
.calculator-keys [data-key="2"] {
  grid-area: two;
}
.calculator-keys [data-key="3"] {
  grid-area: three;
}
.calculator-keys [data-key="4"] {
  grid-area: four;
}
.calculator-keys [data-key="5"] {
  grid-area: five;
}
.calculator-keys [data-key="6"] {
  grid-area: six;
}
.calculator-keys [data-key="7"] {
  grid-area: seven;
}
.calculator-keys [data-key="8"] {
  grid-area: eight;
}
.calculator-keys [data-key="9"] {
  grid-area: nine;
}
.calculator-keys [data-key="+"] {
  grid-area: add;
}
.calculator-keys [data-key="-"] {
  grid-area: substract;
}
.calculator-keys [data-key="*"] {
  grid-area: multiply;
}
.calculator-keys [data-key="/"] {
  grid-area: divide;
}
.calculator-keys [data-key="."] {
  grid-area: digit;
}
.calculator-keys .operator[data-key="="] {
  grid-area: total;
}
.calculator-keys .operator[data-key="="]:before {
  background: #ff6500;
  color: #ff6500;
}
.calculator-keys [data-key=Backspace] {
  grid-area: del;
}
.calculator-keys [data-key=Delete] {
  grid-area: ac;
  width: 100%;
}
.calculator-keys [data-key=Mod] {
  grid-area: mod;
}
/*# sourceMappingURL=styles.css.map */
