// ===============================================
//  GENERATE COLOR CLASSES WITH SASS FUNCTIONS
// ===============================================
$colors: ( primary: $primary,
primary-dark: $primary-dark,
primary-light: $primary-light,
secondary: $secondary,
secondary-dark: $secondary-dark,
secondary-light: $secondary-light,
accent: $accent,
accent-dark: $accent-dark,
accent-light: $accent-light,
light: $white,
dark: $black,
type: $type,
light-grey: $light-background);

@each $key,
$color in $colors {
    .text-#{$key} {
        color: $color!important;
    }
    .background-#{$key} {
        background-color: $color!important;
    }
    @for $i from 1 through 10 {
        $opacity: $i * 10;
        $op: calc($opacity / 100);
        .background-transparent-#{$key}-#{$opacity} {
            background-color: rgba($color, $op)!important;;  
        }
    }
}
