 #cookie-banner {
   position: fixed;
   bottom: rem-calc(-500px);
   right: rem-calc(-500px);
   margin: rem-calc(56);
   width: 100%;
   max-width: rem-calc(280);
   background-color: $bodyBackground;
   padding: rem-calc(56);
   z-index: 9997;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: rem-calc(21);
   box-shadow: rem-calc(0 0 21 0) rgba(#000, 0.5),
     inset rem-calc(0 0 0 3) rgba($bodyText, 0.07);

   &.active {
     bottom: 0;
     right: 0;
   }

   p {
     font-size: rem-calc(14);
     margin-bottom: rem-calc(21);
   }

   a {
     color: #007bff;
     text-decoration: none;

     &:hover {
       text-decoration: underline;
     }
   }
 }

 #accept-cookies {
   width: 100%;
   text-align: center;
   background-color: lighten($bodyBackground, 3%);
   color: $bodyText;
   padding: rem-calc(14 21);
   border: none;
   border-radius: rem-calc(7);
   cursor: pointer;
   transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);

   &:hover {
     background-color: lighten($bodyBackground, 7%);
   }
 }


 #CybotCookiebotDialog {
   z-index: 9999 !important;
   background-color: lighten($bodyBackground, 5%)!important;
   color: $bodyText!important;

   #CybotCookiebotDialogFooter .CybotCookiebotDialogBodyButton {
    border-color:$bodyText!important;
    color: $bodyText!important;
    background-color: $bodyBackground!important;
   }

   #CybotCookiebotDialogFooter #CybotCookiebotDialogBodyButtonAccept,
   #CybotCookiebotDialogFooter #CybotCookiebotDialogBodyLevelButtonAccept,
   #CybotCookiebotDialogFooter #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll {
    background-color: accent(1)!important;
    border-color: accent(1)!important;
    color: $bodyBackground!important;
   }


 }

 #CybotCookiebotDialog.CybotEdge #CybotCookiebotDialogBodyEdgeMoreDetails a {
  color: accent(1)!important;
 }

 #CookiebotWidget {
  z-index: 9999 !important;
 }

 #CookiebotWidget-btn-withdraw {
  border-color: accent(1)!important;
  color: accent(1)!important;
 }

 #CookiebotWidget-btn-change {
  background-color: accent(1)!important;
  border-color: accent(1)!important;
  color: $bodyBackground!important;
 }

 #CybotCookiebotDialogNav .CybotCookiebotDialogNavItemLink {
  color: $bodyText!important;
 }

 #CybotCookiebotDialogNav .CybotCookiebotDialogNavItemLink.CybotCookiebotDialogActive {
  border-bottom: 1px solid accent(1)!important;
  color: accent(1)!important;
}

#CookiebotWidget .CookiebotWidget-body .CookiebotWidget-consents-list li.CookiebotWidget-approved svg {
  fill: accent(1)!important;
}

#CookiebotWidget .CookiebotWidget-consent-details button {
  color: accent(1)!important;
}

button.CookiebotWidget-logo svg {
  display: none!important;
}

button.CookiebotWidget-logo {
  background-color: #070707!important;
  width: rem-calc(49)!important;
  height: rem-calc(49)!important;
  background-image: url("../images/cookie.png")!important;
  background-size: rem-calc(28 28)!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
}

 // cokiebot
 @media screen and (max-width:720px) {
   #cookiebanner a.c-button {
     width: 100%;
     box-sizing: border-box;
     text-align: center;
     margin-bottom: 20px;
   }

   #c-right {
     float: none;
   }

   #c-left {
     float: none;
   }

   #cookiebanner p.c-message {
     margin-bottom: 20px;
   }
 }

 @media screen and (min-width:720px) {
   #cookiebanner #c-left {
     float: left;
     max-width: 80%;
   }

   #cookiebanner #c-right {
     float: right;
   }
 }

 #cookiebanner {
   box-sizing: border-box;
   background-color: rgb(36, 36, 39);
   opacity: 0.9;
   width: 100%;
   padding: 25px 40px;
   position: fixed;
   z-index: 2147483645;
   bottom: -800px
 }

 #cookiebanner p {
   font-size: 14px;
   line-height: 1.4;
 }

 #cookiebanner .c-header {
   text-transform: uppercase;
   color: #fff;
   font-weight: bold;
   margin-bottom: 4px;
 }

 #cookiebanner p.c-message {
   font-size: 14px;
   color: #999;
 }

 #cookiebanner a {
   font-weight: bold;
   color: #999;
 }

 #cookiebanner a:hover {
   color: #fff;
 }

 #cookiebanner a.c-button {
   border-radius: 4px;
   background-color: rgb(255, 255, 255);
   box-shadow: 0 2px 0 0 rgb(221, 221, 221);
   border: 1px solid rgb(221, 221, 221);
   padding: 12px 60px;
   text-decoration: none;
   display: inline-block;
   vertical-align: middle;
   margin-top: 10px;
   color: #666;
   font-size: 16px;
   -o-transition: .2s;
   -ms-transition: .2s;
   -moz-transition: .2s;
   -webkit-transition: .2s;
   transition: .2s;
 }

 #cookiebanner a.c-button:hover {
   box-shadow: none;
   background-color: #f8f8f8;
 }

 #CybotCookiebotDialogHeader, #CybotCookiebotDialogNav .CybotCookiebotDialogNavItemLink, #CookiebotWidget .CookiebotWidget-header, #CybotCookiebotDialog .CookieCard {
  border-bottom: 1px solid $bodyBackground!important;
 }

 #CybotCookiebotDialog form input[type=checkbox][disabled]:checked+.CybotCookiebotDialogBodyLevelButtonSlider {
  background-color: accent(0.42)!important;
 }

 #CybotCookiebotDialog input:checked+.CybotCookiebotDialogBodyLevelButtonSlider {
  background: accent(1)!important;
 }

 #CybotCookiebotDialogPoweredbyCybot svg {
  fill: $bodyText!important;
 }

 #CybotCookiebotDialogNav .CybotCookiebotDialogNavItemLink:hover {
  color: accent(0.77)!important;
 }

 #CookiebotWidget #CookiebotWidget-widgetContent {
  background: lighten($bodyBackground, 5%)!important;
 }

 #CookiebotWidget *, #CybotCookiebotDialogDetailBodyContentCookieContainerTypes .CybotCookiebotDialogDetailBodyContentCookieProvider:not(.CybotCookiebotDialogDetailBodyContentCookieInfoCount) {
  color: $bodyText!important;
 }

 #CookiebotWidget .CookiebotWidget-consent-details .CookiebotWidget-consent-details-box {
  background-color: lighten($bodyBackground, 7%)!important;
 }

 #CookiebotWidget #CookiebotWidget-buttons {
  border-top: 1px solid $bodyBackground!important;
 }

 #CybotCookiebotDialog .CybotCookiebotDialogBodyLevelButtonSlider {
  background-color: lighten($bodyBackground, 15%)!important;
 }

 #CybotCookiebotDialog .CybotCookiebotDialogBodyLevelButtonSlider:before {
  background-color: darken($bodyText, 15%)!important;
 }

 #CybotCookiebotDialogTabContent .CybotCookiebotDialogDetailBulkConsentCount {
  background-color: rgba($bodyText, 0.07)!important;
 }

 .CybotCookiebotFader {
  display: none!important;
 }

 #CookiebotWidget #CookiebotWidget-buttons #CookiebotWidget-btn-withdraw {
  background-color: transparent!important;
 }

 #CookiebotWidget #CookiebotWidget-buttons #CookiebotWidget-btn-change{
  color: $bodyBackground!important;
 }

 #CybotCookiebotDialog a:after {
  border-color: darken($bodyText, 15%)!important;
 }

 #CybotCookiebotDialog #CybotCookiebotDialogBodyContentText a, #CybotCookiebotDialog #CybotCookiebotDialogBodyLevelButtonIABHeaderViewPartnersLink, #CybotCookiebotDialog #CybotCookiebotDialogDetailBulkConsentList dt a, #CybotCookiebotDialog #CybotCookiebotDialogDetailFooter a, #CybotCookiebotDialog .CybotCookiebotDialogBodyLevelButtonIABDescription a, #CybotCookiebotDialog .CybotCookiebotDialogDetailBodyContentCookieLink, #CybotCookiebotDialogDetailBodyContentTextAbout a {
  color: accent(0.84)!important;

  &:hover {
    color: accent(1)!important;
  }
 }

 #CybotCookiebotDialogDetailBodyContentCookieContainerTypes .CybotCookiebotDialogDetailBodyContentCookieInfo {
  border: 1px solid $bodyBackground!important;
 }
 #CybotCookiebotDialog input:checked+.CybotCookiebotDialogBodyLevelButtonSlider:before {
  background-color: $bodyBackground!important;
 }