/* Hide scrollbar for Chrome, Safari and Opera */
*:not(pre)::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body, html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



#CybotCookiebotDialog::-webkit-scrollbar, 
#CybotCookiebotDialog *::-webkit-scrollbar {
  display: block; 
}

#CybotCookiebotDialog, #CybotCookiebotDialog * {
  -ms-overflow-style: auto; 
  scrollbar-width: auto; 
}