@use "sass:math";

:root {
    --accent: #ff4200; //#b4997f; Previous
    --accent-r: 255;
    --accent-g: 66;
    --accent-b: 0;
    --radius: 0.4375rem;
    --radius-circle: 10rem;
}

$bodyBackground: #070707;
$bodyText: #c7c7c7;

$gridBase: 7;

$sectionTitleSize: 14 * $gridBase;
$sectionTextSize: 5 * $gridBase;

$navTrigSize: 56;

$navSpanWidth: 28;
$navSpanHeight: 2;


// forms
$input-border-color: rgba($bodyText, 0.35);

$success: #3b9d5f;
$error: #ef2626;