<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeConfirmationModal">&times;</span>
        <h2 class="modal-title center">Are you sure you want to delete this <span id="conformationModalElement"></span>?</h2>
        <p id="confirmationMessage" class="text-center"></p>
        <div class="modal-actions center">
            <button id="confirmDeleteBtn" class="button delete">Delete</button>
            <button id="cancelDeleteBtn" class="button cancel">Cancel</button>
        </div>
    </div>
</div>