    <div class="sidebar-container">
        <div class="sidebar-group">
            <div class="group-title">
                <h2 class="title">Notes</h2>
                <button id="addNoteBtn" class="add-new-element"><span class="icon">add</span></button>
            </div>
            <div class="group-list" id="notesContainer">
                <div class="list-item">
                    <div class="note">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi fugit ipsum unde illo sit ipsa culpa, eos maxime? Nihil id vero natus tenetur rerum autem esse assumenda alias modi ut!
                    </div>
                </div>
            </div>
        </div>
    </div>