<div id="projectModal" class="modal">
    <form class="modal-content" id="projectForm">
        <span class="close icon" id="closeProjectModal">close</span>
        <h2 class="modal-title">Add Project</h2>
        <p class="note">Only 5 projects are allowed</p>
        <input type="text" id="projectName" class="user-input" placeholder="Project Name" required>
        <textarea id="projectDescription" maxlength="50" class="user-input" placeholder="What is this project for"></textarea>
        <div class="modal-actions">
            <button id="saveProjectBtn">Save Project</button>
        </div>
    </form>
</div>