    <div class="sidebar-container">
        <div class="sidebar-logo">ToDo <span>App</span></div>

        <div class="sidebar-group">
            <div class="group-list">
                <div class="list-item active">
                    <button id="viewAllBtn">All Tasks</button>
                </div>
            </div>
        </div>
        <div class="sidebar-group due">
            <div class="group-title">
                <h2 class="title">Due by</h2>
            </div>
            <div class="group-list">
                <div class="list-item">
                    <button id="todayBtn">Today</button>
                </div>
                <div class="list-item">
                    <button id="tomorrowBtn">Tomorrow</button>
                </div>
                <div class="list-item">
                    <button id="thisWeekBtn">This Week</button>
                </div>
                <div class="list-item">
                    <button id="nextWeekBtn">Next Week</button>
                </div>
            </div>
        </div>
    
        <div class="sidebar-group projects">
            <div class="group-title">
                <h2 class="title">Projects</h2>
                <button id="addProjectBtn" class="add-new-element"><span class="icon">add</span></button>
            </div>
            <div class="group-list" id="projectList"></div>
        </div>
    </div>