body.home {
    section {
        .graphic-block {
            height: rem-calc(490);
            padding: rem-calc(35);
            align-self: center;
            position: relative;

            &.about-me {
                height: 0;
                padding-bottom: 100%;
                max-width: rem-calc(560);

                @include breakpoint(large down) {
                    height: auto;
                    padding-bottom: 0%;
                }
            }

            &.portfolio {
                @include breakpoint(large down) {
                    padding: 0;
                    height: rem-calc(350);
                    pointer-events: none;
                }

                @include breakpoint(large only) {
                    height: rem-calc(490);
                    max-width: rem-calc(560);
                    margin: 0 auto;
                }
            }

            &-container {
                width: 100%;
                max-width: rem-calc(560);
                height: 100%;
                position: relative;
                cursor: pointer;

                @include breakpoint(small only) {
                    margin: 0 auto;
                }

                &.move {
                    .card:nth-child(1) {
                        transform: translate(calc(-50% - rem-calc(0.1)),
                                calc(-50% - rem-calc(0.1)));
                    }

                    .card:nth-child(2) {
                        transform: translate(calc(-50% + rem-calc(42)),
                                calc(-50% + rem-calc(42)));
                    }
                }

                .card {
                    position: absolute;


                    .card-image {
                        @include glass($bodyText, 0.14, 21px);
                        overflow: hidden;
                        border-radius: var(--radius);
                        @include flex-column-center;
                        position: relative;
                        width: 100%;
                        padding: rem-calc(28);
                        transform-style: preserve-3d;
                        transform: perspective(1000px);

                        span {
                            font-weight: 600;
                            opacity: 0.7;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            padding: rem-calc(1 28 28 14);
                            font-size: rem-calc(10);
                            letter-spacing: rem-calc(1);
                            text-transform: uppercase;

                            @include breakpoint(small only) {
                                font-size: rem-calc(7);
                            }
                        }
                    }

                    &.rect {
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: rem-calc(490);
                        height: rem-calc(280);
                        transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                        @include breakpoint(small only) {
                            width: rem-calc(245);
                            height: rem-calc(140);
                        }

                        @include breakpoint(medium only) {
                            width: rem-calc(490 * 0.75);
                            height: rem-calc(280 * 0.75);
                        }

                        &:nth-child(1) {
                            top: 50%;
                            left: 50%;
                            z-index: 1;
                            transform: translate(calc(-50% - rem-calc(42)),
                                    calc(-50% - rem-calc(42)));
                        }

                        &:nth-child(2) {
                            z-index: 2;
                            transform: translate(calc(-50% - rem-calc(0.1)),
                                    calc(-50% - rem-calc(0.1)));
                        }

                        &:nth-child(3) {
                            z-index: 3;
                            transform: translate(calc(-50% + rem-calc(42)),
                                    calc(-50% + rem-calc(42)));
                        }

                        .card-image {
                            position: relative;

                            img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                                object-position: center;
                            }


                        }
                    }
                }
            }
        }

        .text-block.portfolio {
            @include breakpoint(large down) {
                order: -1;
            }
        }

        &.contact {

            @include breakpoint(medium down) {
                min-height: calc(70dvh - 70px);
            }
        }
    }

    section.hero {
        .text {
            max-width: rem-calc(630);

            span {
                animation: none;
                
            }

            &.animated {
                
                span {
                    animation: reveal 1.77s ease-in-out forwards;
                    animation-delay: 1s;
                }
            }
        }

        .written .Typewriter__cursor {
            visibility: hidden;
        }
    }

    section.contact {

        .text {
            max-width: rem-calc(490);
        }
        .text.animated span {
            animation: reveal 1.357s ease-in-out forwards;
            animation-delay: 0.56s;
        }
    }
}

.kustom-fade-out {
    opacity: 1;
    transform: translate(calc(-50% + 42px), calc(-50% + 42px));
    animation: kustom-fade-out 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}



.kustom-fade-in {
    opacity: 0;
    animation: kustom-fade-in 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    transform: translate(calc(-50% - 84px), calc(-50% - 84px));
}



.progress-container {
    position: absolute;
    @include flex-column-center;
    width: rem-calc(70);
    height: rem-calc(2);
    background: rgba($bodyBackground, 1);
    bottom: rem-calc(35);
    left: 50%;
    transform: translateX(-50%);
    border-radius: rem-calc(4);
    pointer-events: none;
    overflow: hidden;


    .progress-bar {
        position: relative;
        width: 100%;
        height: 100%;
        height: rem-calc(2);
        pointer-events: none;
        background-color: rgba($bodyText, 0.7);
        animation: progressBarAnimation 2.9s linear forwards;
    }
}