*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration-color: rgba(var(--accent-r), var(--accent-g), var(--accent-b), 0.65);
}

::-moz-selection {
  background: rgba(var(--accent-r), var(--accent-g), var(--accent-b), 0.77);
  color: #070707;
}

::selection {
  background: rgba(var(--accent-r), var(--accent-g), var(--accent-b), 0.77);
  color: #070707;
}

img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "PS100";
  src: url("../../../build/fonts/ProductSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PS300";
  src: url("../../../build/fonts/ProductSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PS400";
  src: url("../../../build/fonts/ProductSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PS500";
  src: url("../../../build/fonts/ProductSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PS700";
  src: url("../../../build/fonts/ProductSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PS900";
  src: url("../../../build/fonts/ProductSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PS100i";
  src: url("../../../build/fonts/ProductSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PS300i";
  src: url("../../../build/fonts/ProductSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PS400i";
  src: url("../../../build/fonts/ProductSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PS500i";
  src: url("../../../build/fonts/ProductSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PS700i";
  src: url("../../../build/fonts/ProductSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PS900i";
  src: url("../../../build/fonts/ProductSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Slab";
  src: url("../../../build/fonts/JosefinSlab-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* fallback */
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v166/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format("woff2");
}
.material-symbols-outlined, .sidebar-list-item .icon {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

:root {
  --accent: #ff4200;
  --accent-r: 255;
  --accent-g: 66;
  --accent-b: 0;
  color-scheme: dark;
}

.dashboard {
  display: grid;
  grid-template-columns: 25.625rem auto;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-family: "PS400";
  background: #141414;
}
.dashboard.collapsed {
  grid-template-columns: 12.25rem auto;
}
@media screen and (max-width: 87.4375em) {
  .dashboard {
    grid-template-columns: 15rem auto;
  }
}
@media screen and (max-width: 63.9375em) {
  .dashboard {
    grid-template-columns: 5.25rem auto;
  }
}
@media screen and (max-width: 47.9375em) {
  .dashboard {
    grid-template-columns: 4.8125rem calc(100% - 77px);
  }
}

.sidebar {
  height: 100vh;
  height: 100dvh;
  padding: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 87.4375em) {
  .sidebar {
    padding: 1.125rem;
  }
}
@media screen and (max-width: 63.9375em) {
  .sidebar {
    padding: 0;
  }
}
.sidebar-trigger {
  width: 1.875rem;
  height: 5.6875rem;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
}
@media screen and (max-width: 87.4375em) {
  .sidebar-trigger {
    display: none;
  }
}
.sidebar-trigger svg {
  display: block;
  position: absolute;
  overflow: visible;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.sidebar-trigger svg path {
  fill: #070707;
}
.sidebar-trigger:before, .sidebar-trigger:after {
  content: "";
  display: block;
  position: absolute;
  width: 0.125rem;
  height: 0.4375rem;
  background: #c7c7c7;
  top: 50%;
  left: 50%;
  z-index: 1;
  opacity: 1;
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 0.4375rem;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}
.sidebar-trigger:before {
  -webkit-transform: translate(-50%, calc(-50% + 0.1875rem)) skew(28deg);
      -ms-transform: translate(-50%, calc(-50% + 0.1875rem)) skew(28deg);
          transform: translate(-50%, calc(-50% + 0.1875rem)) skew(28deg);
}
.sidebar-trigger:after {
  -webkit-transform: translate(-50%, calc(-50% - 0.1875rem)) skew(-28deg);
      -ms-transform: translate(-50%, calc(-50% - 0.1875rem)) skew(-28deg);
          transform: translate(-50%, calc(-50% - 0.1875rem)) skew(-28deg);
}
.sidebar-trigger.collapsed:before {
  -webkit-transform: translate(-50%, calc(-50% + 0.1875rem)) skew(-28deg);
      -ms-transform: translate(-50%, calc(-50% + 0.1875rem)) skew(-28deg);
          transform: translate(-50%, calc(-50% + 0.1875rem)) skew(-28deg);
}
.sidebar-trigger.collapsed:after {
  -webkit-transform: translate(-50%, calc(-50% - 0.1875rem)) skew(28deg);
      -ms-transform: translate(-50%, calc(-50% - 0.1875rem)) skew(28deg);
          transform: translate(-50%, calc(-50% - 0.1875rem)) skew(28deg);
}
.sidebar-content {
  background: #070707;
  height: 100%;
  width: 100%;
  border-radius: 1.3125rem;
  padding: 2.5rem;
  color: #c7c7c7;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4.8125rem auto auto;
  gap: 1.75rem;
  position: relative;
}
@media screen and (max-width: 87.4375em) {
  .sidebar-content {
    padding: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 0;
    overflow: auto;
  }
}
@media screen and (max-width: 63.9375em) {
  .sidebar-content {
    border-radius: 0;
  }
}
@media screen and (max-width: 47.9375em) {
  .sidebar-content {
    padding: 0.625rem;
  }
}
.sidebar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.4375rem 0.875rem;
  margin-left: -0.875rem;
  margin-right: -0.875rem;
}
@media screen and (min-width: 87.5em) {
  .sidebar-list {
    overflow: hidden;
  }
}
@media screen and (max-width: 87.4375em) {
  .sidebar-list {
    width: 100%;
    padding: 0.4375rem 0;
    margin-left: 0;
    margin-right: 0;
  }
}
.sidebar-list-item {
  display: grid;
  grid-template-columns: 3.5rem auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.625rem;
  white-space: nowrap;
  padding: 0.4375rem 0;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.5rem;
}
@media screen and (max-width: 87.4375em) {
  .sidebar-list-item {
    grid-template-columns: 1.96rem auto;
    gap: 0.625rem;
  }
}
@media screen and (max-width: 63.9375em) {
  .sidebar-list-item {
    display: block;
  }
}
.sidebar-list-item .icon {
  width: 3.5rem;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.75rem;
}
@media screen and (max-width: 87.4375em) {
  .sidebar-list-item .icon {
    width: 1.96rem;
    height: 1.96rem;
    font-size: 1.3125rem;
  }
}
@media screen and (max-width: 63.9375em) {
  .sidebar-list-item .icon {
    width: 100%;
    text-align: center;
  }
}
.sidebar-list-item .sidebar-link {
  font-family: "PS700";
  font-size: 1.125rem;
  letter-spacing: 0.048125rem;
}
@media screen and (max-width: 87.4375em) {
  .sidebar-list-item .sidebar-link {
    font-family: "PS500";
    font-size: 1rem;
  }
}
@media screen and (max-width: 63.9375em) {
  .sidebar-list-item .sidebar-link {
    display: none;
  }
}
.sidebar-list-item.active {
  background: rgba(var(--accent-r), var(--accent-g), var(--accent-b), 1);
  color: #070707;
}
.sidebar-list.bottom-list {
  place-content: flex-end;
}
.sidebar .logo {
  font-size: 1.3125rem;
  white-space: normal;
  font-family: "PS900";
  text-transform: uppercase;
  position: relative;
}
@media screen and (max-width: 87.4375em) {
  .sidebar .logo {
    font-size: 0.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 1.3125rem;
    width: 100%;
  }
}
.sidebar .logo .sidebar-link {
  font-family: "PS900";
  color: rgba(var(--accent-r), var(--accent-g), var(--accent-b), 1);
  font-size: inherit;
}
.sidebar .logo .sidebar-link span {
  font-family: "PS400";
  color: #c7c7c7;
  display: block;
}
.sidebar .logo .link-to-website {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 47.9375em) {
  .sidebar .logo .icon img {
    max-height: 2.1875rem;
  }
}

.highlighter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: var(--accent);
  pointer-events: none;
  border-radius: 0.5rem;
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.075);
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.075);
}
@media screen and (max-width: 87.4375em) {
  .highlighter {
    display: none;
  }
}

.main {
  color: #c7c7c7;
  padding: 1.875rem;
  display: grid;
  grid-template-columns: auto 21.875rem;
  grid-template-areas: "header header" "articles news";
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  gap: 1.75rem;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}
@media screen and (max-width: 118.6875em) {
  .main {
    grid-template-columns: auto 18.75rem;
  }
}
@media screen and (max-width: 87.4375em) {
  .main {
    padding: 1.125rem;
  }
}
@media screen and (max-width: 63.9375em) {
  .main {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "news" "articles";
    height: auto;
    overflow-y: auto;
  }
}
@media screen and (max-width: 47.9375em) {
  .main {
    overflow: auto;
  }
}
.main-header {
  grid-area: header;
  padding: 1.875rem;
  gap: 1.75rem;
  background: #070707;
  border-radius: 1.3125rem;
  display: grid;
}
@media screen and (max-width: 47.9375em) {
  .main-header {
    padding: 0.9375rem;
  }
}
.main-header-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 47.9375em) {
  .main-header-user {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0.875rem;
  }
}
@media screen and (max-width: 47.9375em) {
  .main-header-user .user-greeting {
    display: none;
  }
}
.main-header-user .user-greeting .user-id {
  font-family: "PS500";
  font-size: 0.875rem;
  letter-spacing: 0.048125rem;
}
.main-header-user .user-greeting .user-id span {
  display: block;
}
.main-header-user .user-greeting .user-id .greet {
  margin-bottom: 0.4375rem;
  font-family: "PS500";
  font-size: 1.125rem;
  font-weight: 500;
}
.main-header-user .user-greeting .user-id .user {
  font-family: "PS900";
  font-size: 1.125rem;
  color: rgba(var(--accent-r), var(--accent-g), var(--accent-b), 1);
}
.main-header-user .user-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3125rem;
}
@media screen and (max-width: 47.9375em) {
  .main-header-user .user-actions {
    gap: 0.4375rem;
    margin: auto;
  }
}
.main-header-user .user-actions .user-notifications {
  padding: 0.875rem;
  cursor: pointer;
}
.main-header-user .user-actions .user-notifications span {
  font-size: 1.3125rem;
}
.main-header-user .user-actions .user-name {
  padding: 0.875rem;
  font-size: 1.3125rem;
  cursor: pointer;
}
@media screen and (max-width: 47.9375em) {
  .main-header-user .user-actions .user-name {
    font-size: 1rem;
  }
}
.main-header-user .user-actions .user-avatar {
  cursor: pointer;
}
.main-header-user .user-actions .user-avatar img {
  max-width: 3.5rem;
  border-radius: 3.5rem;
}
.main-header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.1875rem;
}
@media screen and (max-width: 47.9375em) {
  .main-header-actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 1.3125rem;
  }
}
.main-header-actions .header-action-search {
  width: 100%;
  max-width: 26.25rem;
}
.main-header-actions .header-action-search form, .main-header-actions .header-action-search .form-group {
  width: 100%;
  position: relative;
}
.main-header-actions .header-action-search [type=text] {
  width: 100%;
  height: 2.625rem;
  border-radius: 4.8125rem;
  border: none;
  outline: none;
  background: #141414;
  -webkit-box-shadow: inset 0.1875rem 0.25rem 0.4375rem 0 rgba(7, 7, 7, 0.35);
          box-shadow: inset 0.1875rem 0.25rem 0.4375rem 0 rgba(7, 7, 7, 0.35);
  color: #c7c7c7;
  padding: 0.4375rem 4.8125rem 0.4375rem 1.3125rem;
}
.main-header-actions .header-action-search [type=submit] {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 3.5rem;
  background: rgba(var(--accent-r), var(--accent-g), var(--accent-b), 1);
  margin: 0.25rem;
  padding: 0 0.875rem;
  border-radius: 4.8125rem;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.main-header-actions .header-action-search [type=submit] .icon {
  font-size: 1.75rem;
}
.main-header-actions .header-action-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.75rem;
}
@media screen and (max-width: 87.4375em) {
  .main-header-actions .header-action-buttons {
    gap: 1.3125rem;
  }
}
.main-header-actions .header-action-buttons .action {
  padding: 0.4375rem 1.3125rem;
  border-radius: 4.8125rem;
  border: none;
  outline: none;
  background: #1b1b1b;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(199, 199, 199, 0.35);
          box-shadow: 0 0 0 0.125rem rgba(199, 199, 199, 0.35);
  color: #c7c7c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.875rem;
  font-family: "PS700";
  letter-spacing: 0.048125rem;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
@media screen and (max-width: 63.9375em) {
  .main-header-actions .header-action-buttons .action {
    padding: 0.3125rem 0.875rem;
  }
}
.main-header-actions .header-action-buttons .action .icon {
  font-size: 1.125rem;
  margin-left: 0.625rem;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
@media screen and (max-width: 63.9375em) {
  .main-header-actions .header-action-buttons .action .icon {
    margin-left: 0.3125rem;
  }
}
@media screen and (max-width: 47.9375em) {
  .main-header-actions .header-action-buttons .action .icon {
    display: none;
  }
}
.main-header-actions .header-action-buttons .action:hover {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(var(--accent-r), var(--accent-g), var(--accent-b), 0.77);
          box-shadow: 0 0 0 0.25rem rgba(var(--accent-r), var(--accent-g), var(--accent-b), 0.77);
}
.main-header-actions .header-action-buttons .action:hover .icon {
  color: rgba(var(--accent-r), var(--accent-g), var(--accent-b), 1);
}
.main .main-title {
  font-family: "PS700";
  font-size: 1.3125rem;
  margin-bottom: 0.875rem;
}
.main .main-articles {
  grid-area: articles;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 0.625rem;
  scrollbar-width: thin;
  scrollbar-color: rgba(199, 199, 199, 0.14) rgba(7, 7, 7, 0.49);
}
@media screen and (max-width: 63.9375em) {
  .main .main-articles {
    overflow: unset;
    height: auto;
  }
}
.main .main-articles .projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(21.875rem, 1fr));
  gap: 1.75rem;
}
@media screen and (max-width: 87.4375em) {
  .main .main-articles .projects-grid {
    gap: 0.875rem;
  }
}
@media screen and (max-width: 47.9375em) {
  .main .main-articles .projects-grid {
    grid-template-columns: 1fr;
  }
}
.main .main-articles .project {
  background: rgba(199, 199, 199, 0.07);
  border-radius: 1.3125rem;
  position: relative;
  display: grid;
  gap: 2.1875rem;
}
@media screen and (max-width: 87.4375em) {
  .main .main-articles .project {
    gap: 0.875rem;
  }
}
.main .main-articles .project-body {
  padding: 1.875rem 1.875rem 0;
  position: relative;
  overflow: hidden;
}
.main .main-articles .project-body:before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 1.875rem;
  height: 100%;
  width: 7px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(var(--accent-r), var(--accent-g), var(--accent-b), 0.42);
  border-radius: 4.8125rem;
}
.main .main-articles .project-footer {
  padding: 0 1.875rem 1.875rem;
}
.main .main-articles .project-name {
  font-family: "PS700";
  font-size: 1.3125rem;
  letter-spacing: 0.048125rem;
  margin-bottom: 1.3125rem;
}
.main .main-articles .project-description {
  font-family: "Slab";
  font-size: 1.125rem;
  line-height: 1.42;
}
.main .main-articles .project-action-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.4375rem;
}
.main .main-articles .project-action-list .action {
  padding: 0.4375rem;
}
.main .main-articles .project-action-list .action .icon {
  font-size: 1.3125rem;
  cursor: pointer;
}
.main .main-articles .project-action-list .action .icon:hover {
  color: rgba(var(--accent-r), var(--accent-g), var(--accent-b), 1);
}
.main .main-articles .featured:after {
  position: absolute;
  content: attr(data-featured-text);
  color: #070707;
  background: rgba(var(--accent-r), var(--accent-g), var(--accent-b), 1);
  right: 0.25rem;
  top: 0.3125rem;
  padding: 0.4375rem 1.3125rem;
  border-top-right-radius: 1.125rem;
  border-bottom-left-radius: 1.125rem;
  font-family: "PS900";
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.0875rem;
}
.main .main-news {
  grid-area: news;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  gap: 1.75rem;
  height: 100%;
  padding-right: 0.625rem;
  scrollbar-width: thin;
  scrollbar-color: rgba(199, 199, 199, 0.14) rgba(7, 7, 7, 0.49);
}
@media print, screen and (min-width: 64em) {
  .main .main-news {
    overflow-x: hidden;
    overflow-y: auto;
  }
}
@media screen and (max-width: 63.9375em) {
  .main .main-news {
    height: auto;
    overflow: unset;
  }
}
@media screen and (max-width: 47.9375em) {
  .main .main-news {
    padding-right: 0;
  }
}
.main .main-news-announcements {
  background: #070707;
  border-radius: 1.3125rem;
  padding: 1.875rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
@media screen and (max-width: 47.9375em) {
  .main .main-news-announcements {
    padding: 0.9375rem;
  }
}
.main .main-news .announcements-list .announcement {
  position: relative;
  display: grid;
  grid-template-columns: auto 6.25rem;
  width: 100%;
}
@media screen and (max-width: 47.9375em) {
  .main .main-news .announcements-list .announcement {
    display: block;
  }
}
.main .main-news .announcements-list .announcement:not(:last-child) {
  padding-bottom: 1.3125rem;
  margin-bottom: 1.3125rem;
  border-bottom: 0.0625rem solid rgba(199, 199, 199, 0.14);
}
.main .main-news .announcements-list .announcement-title {
  font-family: "PS500";
  margin-bottom: 0.4375rem;
  font-size: 1.125rem;
  letter-spacing: 0.048125rem;
}
.main .main-news .announcements-list .announcement-date {
  text-align: right;
  opacity: 0.77;
}
@media screen and (max-width: 47.9375em) {
  .main .main-news .announcements-list .announcement-date {
    text-align: left;
  }
}
.main .main-news .announcements-list .announcement-text {
  grid-area: 2/1/3/3;
  font-size: 0.875rem;
  line-height: 1.42;
}
.main .main-news .announcements-list .announcement.critical .announcement-title {
  color: #ef2626;
}
.main .main-news .announcements-list .announcement.critical:before {
  content: "";
  background: #ef2626;
  width: 0.4375rem;
  height: 0.4375rem;
  position: absolute;
  top: 7px;
  right: calc(100% + 5px);
  border-radius: 4.8125rem;
}
.main .main-news-trending {
  background: #070707;
  border-radius: 1.3125rem;
  padding: 1.875rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
@media screen and (max-width: 47.9375em) {
  .main .main-news-trending {
    padding: 0.9375rem;
  }
}
.main .main-news .trending-list .trend {
  display: grid;
  grid-template-columns: 2.625rem auto;
  grid-template-areas: "icon tag" "icon name";
  -webkit-column-gap: 1.3125rem;
     -moz-column-gap: 1.3125rem;
          column-gap: 1.3125rem;
}
.main .main-news .trending-list .trend:not(:last-child) {
  margin-bottom: 1.3125rem;
}
.main .main-news .trending-list .trend-icon {
  grid-area: icon;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 2.625rem;
  background-image: linear-gradient(45deg, rgba(var(--accent-r), var(--accent-g), var(--accent-b), 0.42), rgba(var(--accent-r), var(--accent-g), var(--accent-b), 0)), linear-gradient(-45deg, rgba(var(--accent-r), var(--accent-g), var(--accent-b), 0.21), rgba(var(--accent-r), var(--accent-g), var(--accent-b), 0));
}
.main .main-news .trending-list .trend-tag {
  grid-area: tag;
  opacity: 0.77;
  font-size: 0.875rem;
}
.main .main-news .trending-list .trend-name {
  grid-area: name;
  font-size: 1.125rem;
  font-family: "PS500";
}
/*# sourceMappingURL=styles.css.map */
