@import 'mixins';

.dark-blue-gradient {
    @include linear-gradient(#{$gradient-dark-blue-angle}, $gradient-dark-blue-start, $gradient-dark-blue-end);
    color: $white;
}

.light-blue-gradient {
    @include linear-gradient(#{$gradient-light-blue-angle}, $gradient-light-blue-start , $gradient-light-blue-end);
    color: $white;
}

.green-gradient {
    @include linear-gradient(#{$gradient-green-angle}, $gradient-green-start , $gradient-green-end);
    color: $white;
} 

// generate color classes based on variables
$colors: (
    "blue": $blue-button,
    "green": $green-button,
    "white": $white
);

// generate .background-color class to be used in html
@each $key, $color in $colors {

    .background-#{$key} {
        background-color: $color;
    }

    .text-#{$key} {
        color: $color;
    }

}
