.da-services {

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: $gutter * 2;
        grid-template-areas: "parbrize tinichigerie" "parbrize vopsitorie";
        height: rem-calc(560px);
        transition: all 0.3s ease;

        .grid-cell {
            transition: all 0.3s ease;
        }

        &[class*='active-child-'] {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr ;
            grid-gap: 0;
        }

        &.active-child-1 {
            grid-template-areas: "parbrize";
            grid-gap: 0;
        }

        &.active-child-2 {
            grid-template-areas: "tinichigerie";
            grid-gap: 0;
        }

        &.active-child-3 {
            grid-template-areas: "vopsitorie";
            grid-gap: 0;
        }
    }

    .da-parbrize {
        grid-area: parbrize;
        .da-service-card {
            top: 0;
            left: 0;
        }
    }
    .da-tinichigerie {
        grid-area: tinichigerie;
        .da-service-card {
            bottom: 0;
            right: 0;
        }
    }
    .da-vopsitorie {
        grid-area: vopsitorie;
        .da-service-card {
            top:0;
            right: 0; 
        }
    }

    .grid-cell {
        position: relative;

        &.active {
            position: static;
        }
    }

    .da-service-card {
        border-radius: rem-calc(4px);
        overflow: hidden;
        transition: all 0.3s ease;
        height: 100%;
        width: 100%;

        &.active {
            position: absolute;
            z-index: 100;
        }
    }

}