.intervention-card {
    margin-bottom: 0;
    transition: all 0.15s ease-in-out;

    &:hover {
        @include box-shadow(2);
        
        .overlay-link {
            box-shadow: inset 0px 0px 0px 1px $primary;
            border-radius: rem-calc(4px);
        }
    } 

    .da-card-body {
        padding-top: 0;
        padding-bottom: rem-calc(5px);
    }
    
    .da-card-footer {
        padding: 0;
    }

    .info-properties {
        margin-bottom: rem-calc(5px);
        flex-wrap: wrap;
        
        li {
            font-size: rem-calc(16px);
            line-height: 1;
            padding-top: rem-calc(10px);
            padding-bottom: rem-calc(10px);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            margin-bottom: 0;

            &:before {
                content: attr(data-title)":";
                font-weight: 600;
                width: 50%;
                display: block;
            }
        }

        //li:nth-child(odd){
        //    background: $light-grey;
        //}
    }
}

.intervention-card[data-view="list"] {
    padding: rem-calc(10px);
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
        background: $primary;
        * {
            color: $white;
        }
    }
    
    .da-card-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .da-card-footer {
        background: transparent;
        .cta {
            background: $white;
            color: $primary;
        }
    }

    .cta-button-group {
        width: rem-calc(107px);
    }
    .info-properties {
        margin-bottom: 0;
        flex-wrap: nowrap;
        flex-grow:1;
        
        li {
            padding-top: rem-calc(0px);
            padding-bottom: rem-calc(0px);
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            font-size: rem-calc(24px);
            font-weight: 600;

            &:before {
                width: 100%;
                font-size: rem-calc(14px);
                font-weight: 500;
                opacity: 0.8;
                margin-bottom: rem-calc(5px);
            }
        }

        li:nth-child(odd){
            background: transparent;
        }
    }
}