.da-nav {
    position: absolute;
    z-index: 1000;
    width: 100%;
    left: 0;
    top: rem-calc($menu-padding-medium);
    height: rem-calc(80);

    @include breakpoint(medium down) {
        .container {
            width: 100%;
            max-width: 100%;
            padding: 0;
            height: 100%;
        }
        top: 0;
        position: fixed;
    }

    @include breakpoint(small only) {
        height: rem-calc(60);
    }

    @include breakpoint(xxxlarge) {
        top: rem-calc($menu-padding-large);
    }

    .container {
        height: 100%;
    }

    ul {
        list-style-type: none;
        margin-bottom: 0;
    }

    &-logo {
        a {
            display: flex;
            height: 100%;
            justify-content: flex-start;
            align-items: center;
            padding-left: rem-calc($menu-padding-large);

            @include breakpoint(medium down) {
                padding-left: 0;
            }

            img {
                height: rem-calc(60);
                display: block;

                @include breakpoint(medium down) {
                    height: rem-calc(60);
                }

                @include breakpoint(small only) {
                    height: rem-calc(40);
                }
            }
        }
    }

    &-content {
        background: $white;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        border-radius: $menu-radius;
        height: 100%;

        @include breakpoint(medium down) {
            border-radius: 0;
            align-items: center;
            padding: rem-calc(0 20);
            height: 100%;
        }
    }

    &-list {
        display: flex;
        position: relative;
        transition: all 0.25s ease-out;

        @include breakpoint(medium down) {
            position: absolute;
            left: 0;
            right: 0;
            top: 100vh;
            flex-direction: column;
            background: $white;
            width: 100%;
            padding-top: rem-calc(30);
            height: 100vh;
        }

        @include breakpoint(small only) {
            padding-top: 0;
        }

        &.opened {
            top: rem-calc(80);

            @include breakpoint(small only) {
                top: rem-calc(60);
            }
        }

        &-item {
            padding: rem-calc(0 $menu-padding-medium);
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;

            @include breakpoint(xxxlarge) {
                padding: rem-calc(0 $menu-padding-large);
            }

            @include breakpoint(medium down) {
                padding: rem-calc(10 20);
                flex-direction: column;
                align-items: flex-start;
                top: rem-calc(20);
            }

            a,
            span {
                color: $dark;
                text-transform: uppercase;
                font-size: rem-calc(14);
                text-decoration: none;
                font-weight: 700;
            }

            &:hover {
                > a,
                > span {
                    color: $primary;
                }

                .da-nav-dropdown {
                    opacity: 1;
                    pointer-events: all;
                    top: 100%;
                }
            }

            &.programari, &.tracking {

                @include breakpoint(medium down) {
                    background: transparent!important;
                }
            }

            &.programari a {

                @include breakpoint(medium down) {
                    color: $accent !important;
                }
            }

            &.tracking {
                margin-left: rem-calc($menu-padding-medium);

                a {
                    @include breakpoint(medium down) {   
                        color: $primary!important;
                    }
                }

                @include breakpoint(xxxlarge) {
                    margin-left: rem-calc($menu-padding-large);
                }

                @include breakpoint(medium and down) {
                    margin-left: 0;
                }
            }

            &:last-child {
                @include breakpoint(large) {
                    border-top-right-radius: $menu-radius;
                    border-bottom-right-radius: $menu-radius;
                }
            }

            &.active {
                a,
                span {
                    color: $primary;

                    &:after {
                        content: "";
                        display: block;
                        width: $menu-radius;
                        height: $menu-radius;
                        background: $primary;
                        border-radius: $menu-radius;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);

                        @include breakpoint(medium down) {
                            left: 0;
                            height: 100%;
                            top: 0;
                            width: rem-calc(6);
                            border-radius: 0;
                        }
                    }
                }
            }

            &.has-dropdown span {
                @include breakpoint(medium down) {
                    pointer-events: none;
                    opacity: 0.3;
                }
            }
        }
    }

    &-dropdown {
        padding-left: rem-calc(20);

        @include breakpoint(medium down) {
            width: 100%;            
        }

        @include breakpoint(large) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: calc(100% + 20px);
            opacity: 0;
            pointer-events: none;
            transition: all 0.25s ease-in;
        }

        ul {
            display: block;

            @include breakpoint(large) {
                display: flex;
                flex-direction: column;
                position: relative;
                align-items: center;
                background: $white;
                border-radius: $menu-radius;
                margin-top: rem-calc(10);
                padding: rem-calc(15 30);

                @include box-shadow(5);

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: rem-calc(-7);
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid $white;
                }
            }

            .nav-dropdown-item {
                padding: rem-calc(15 0);

                @include breakpoint(medium down) {
                    padding: rem-calc(8 0);
                }

                &:hover {
                    a,
                    span {
                        color: $primary;
                    }
                }
            }
        }
    }

    &-mobile {
        display: none;
        margin-right: rem-calc(-15);

        button {
            border: none;
            outline: none;
        }

        @include breakpoint(medium down) {
            display: flex;
        }
    }
}


// animated menu

.hamburger {
    padding: $hamburger-padding-y $hamburger-padding-x;
    display: inline-block;
    cursor: pointer;

    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;

    // Normalize (<button>)
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;

    &:hover {
        @if $hamburger-hover-use-filter == true {
            filter: $hamburger-hover-filter;
        } @else {
            opacity: $hamburger-hover-opacity;
        }
    }

    &.is-active {
        &:hover {
            @if $hamburger-hover-use-filter == true {
                filter: $hamburger-active-hover-filter;
            } @else {
                opacity: $hamburger-active-hover-opacity;
            }
        }

        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            background-color: $hamburger-active-layer-color;
        }
    }
}

.hamburger-box {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: $hamburger-layer-height / -2;

    &,
    &::before,
    &::after {
        width: $hamburger-layer-width;
        height: $hamburger-layer-height;
        background-color: $hamburger-layer-color;
        border-radius: $hamburger-layer-border-radius;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    &::before,
    &::after {
        content: "";
        display: block;
    }

    &::before {
        top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
    }

    &::after {
        bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
    }
}

.hamburger--spin {
    .hamburger-inner {
        transition-duration: 0.22s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

        &::before {
            transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
        }

        &::after {
            transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    }

    &.is-active {
        .hamburger-inner {
            transform: rotate(225deg);
            transition-delay: 0.12s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

            &::before {
                top: 0;
                opacity: 0;
                transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
            }

            &::after {
                bottom: 0;
                transform: rotate(-90deg);
                transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
            }
        }
    }
}
