.floating-share {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    .float-btn {
        width: $float-btn-size;
        height: $float-btn-size;
        border-radius: 0%;
        text-align: center;
        outline: none;
        border: none;
        padding: 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.15s ease-in-out;
        position: relative;
        font-size: rem-calc(12px);
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover, &:focus, &:active {
            outline: none;
        }
    }
    .float-trigger {
        position: relative;
        z-index: 100;
        background: $float-btn-color;
        color: $type;
        transition: all 0.15s ease;
    }
    .share-items {
        z-index: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style-type: none;
        .floating-item {
            transform: translate(-50%, -50%);
            transition: all 0.3s ease;
            opacity: 0;
            position: absolute;
            color: #fff;
            transition: all 0.3s ease;
            border-radius: rem-calc(4px);

            .float-btn {
                text-decoration: none;
                color: inherit;
                background: $primary;
                &:hover {
                    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}


.floating-share.opened {
    .float-trigger {
        transform: scale(.50);
        box-shadow: 0px 0px 0px 5px rgba($float-btn-color, 0.3);
        z-index: 3002;
        font-size: rem-calc(20px);

    }
    .share-items {
        z-index: 3001;
    }
}

// animations
@for $i from 1 through 20 {
    $delay: $i * 0.05;
    $animdelay: $i * 0.10;
    .floating-share.opened .share-items li:nth-child(#{$i}) {
        opacity: 1;
        transition-delay: #{$delay}s;
        animation-delay: #{$animdelay}s;
    }
    .floating-share.closing .share-items li:nth-last-child(#{$i}) {
        animation: hide 0.35s ease forwards;
        transition-delay: #{$delay}s;
        animation-delay: #{$animdelay}s;
    }
}
