.footer {

    background: $dark;
    font-weight: 600;
    color: $white;
    padding: rem-calc(100 0);

    @include breakpoint(medium only) {
        padding: rem-calc(60 0);
    }

    @include breakpoint(small only) {
        padding: rem-calc(40 0);
    }
    

    &-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;

        @include breakpoint(small only) {
            grid-template-columns: 1fr;
        }

        &-cell {
            position: relative;
            padding-left: rem-calc(20);

            @include breakpoint(small only) {
                margin-bottom: rem-calc(40);
            }

            &:before {
                content: "";
                display: block;
                width: rem-calc(4);
                height: rem-calc(30);
                border-radius: rem-calc(10);
                position: absolute;
                top:rem-calc(2);
                left: rem-calc(-2);
            }

            &.useful-links:before {
                background: $accent;
            }
            &.contact-program:before {
                background: $primary;
            }
            &.service-map:before {
                background: lighten($dark, 10%);
            }
        }
    }

    &-section-title {
        font-size: rem-calc(24);
        line-height: rem-calc(34);
        font-weight: 600;
    }

    a {
        transition: all 0.3s ease-in-out;
        text-decoration: none;
        padding: rem-calc(7 0);
        display: block;

        @include breakpoint(medium down) {
            padding: rem-calc(10 0);
        }

        &:hover {
            color: $primary;
        }
    }

    li.program {
        margin-top: rem-calc(20);
    }
}