* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    &.scroll-locked {
        overflow: hidden;
        height: 100vh;
    }
}

::-moz-selection { 
    background: $accent;
}

::selection { 
    background: $accent;
 }

 ul {
     margin: 0;
     padding: 0;
     list-style-type: none;
 }

 a[href] {
     color:inherit;
 }