body {
	color: $light;

	.day-night-gradient-background {
		// display: none;
		position: fixed;
		left: 0;
		width: 100%;
		background: linear-gradient(to bottom, #11111d 7%, #182d53 49%, #3f62bd 70%, #5a7fb6 98%);
		z-index: 0;
		height: 200%;
		transition: all 1s ease-in-out;
		top: -100%;
		opacity: 1;

		&:before {
			display: none;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 50%;
			z-index: -1;
			background-image: url(../images/stars_pattern.png);

			mask: linear-gradient(rgba(black, 0.9) 07%, rgba(black, 0) 56%);

			background-size: rem-calc(120);
			transition: all 1s ease-in-out;
			background-repeat: repeat;
			background-position: top center;
		}
	}
	&.day .day-night-gradient-background:before {
		opacity: 0.07;
		top: 50%;
	}

	&.night .day-night-gradient-background {
		top: 0;
	}

	// Day Backgrounds
	&[data-code="1000"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day.jpg);
	}
	&[data-code="1003"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_partly_cloudy.jpg);
	}
	&[data-code="1006"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_cloudy.jpg);
	}
	&[data-code="1009"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_overcast.jpg);
	}
	&[data-code="1030"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_foggy.jpg);
	}
	&[data-code="1063"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1066"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_snowy.jpg);
	}
	&[data-code="1069"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1072"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1087"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_thundery.jpg);
	}
	&[data-code="1114"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_snowy.jpg);
	}
	&[data-code="1117"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_snowy.jpg);
	}
	&[data-code="1135"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_foggy.jpg);
	}
	&[data-code="1147"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_foggy.jpg);
	}
	&[data-code="1150"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1153"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1168"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1171"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1180"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1183"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1186"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1189"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1192"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1195"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1198"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1201"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1204"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1207"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1210"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_snowy.jpg);
	}
	&[data-code="1213"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_snowy.jpg);
	}
	&[data-code="1216"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_snowy.jpg);
	}
	&[data-code="1219"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_snowy.jpg);
	}
	&[data-code="1222"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_snowy.jpg);
	}
	&[data-code="1225"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_snowy.jpg);
	}
	&[data-code="1237"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_snowy.jpg);
	}
	&[data-code="1240"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1243"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1246"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1249"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1252"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_rainy.jpg);
	}
	&[data-code="1255"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_snowy.jpg);
	}
	&[data-code="1258"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_snowy.jpg);
	}
	&[data-code="1261"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_snowy.jpg);
	}
	&[data-code="1264"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_snowy.jpg);
	}
	&[data-code="1273"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_thundery.jpg);
	}
	&[data-code="1276"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_thundery.jpg);
	}
	&[data-code="1279"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_thundery.jpg);
	}
	&[data-code="1282"].day .weather > .weather-now .image-background {
		background-image: url(../images/bg_day_thundery.jpg);
	}

	// Night Backgrounds
	&[data-code="1000"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night.jpg);
	}
	&[data-code="1003"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_partly_cloudy.jpg);
	}
	&[data-code="1006"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_cloudy.jpg);
	}
	&[data-code="1009"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_overcast.jpg);
	}
	&[data-code="1030"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_foggy.jpg);
	}
	&[data-code="1063"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1066"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_snowy.jpg);
	}
	&[data-code="1069"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1072"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1087"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_thundery.jpg);
	}
	&[data-code="1114"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_snowy.jpg);
	}
	&[data-code="1117"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_snowy.jpg);
	}
	&[data-code="1135"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_foggy.jpg);
	}
	&[data-code="1147"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_foggy.jpg);
	}
	&[data-code="1150"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1153"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1168"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1171"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1180"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1183"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1186"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1189"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1192"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1195"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1198"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1201"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1204"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1207"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1210"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_snowy.jpg);
	}
	&[data-code="1213"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_snowy.jpg);
	}
	&[data-code="1216"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_snowy.jpg);
	}
	&[data-code="1219"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_snowy.jpg);
	}
	&[data-code="1222"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_snowy.jpg);
	}
	&[data-code="1225"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_snowy.jpg);
	}
	&[data-code="1237"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_snowy.jpg);
	}
	&[data-code="1240"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1243"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1246"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1249"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1252"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_rainy.jpg);
	}
	&[data-code="1255"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_snowy.jpg);
	}
	&[data-code="1258"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_snowy.jpg);
	}
	&[data-code="1261"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_snowy.jpg);
	}
	&[data-code="1264"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_snowy.jpg);
	}
	&[data-code="1273"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_thundery.jpg);
	}
	&[data-code="1276"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_thundery.jpg);
	}
	&[data-code="1279"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_thundery.jpg);
	}
	&[data-code="1282"].night .weather > .weather-now .image-background {
		background-image: url(../images/bg_night_thundery.jpg);
	}
}
