$weather-backgrounds: (
  "day": (
    "bg_day.jpg": (1000),
    "bg_day_partly_cloudy.jpg": (1003),
    "bg_day_cloudy.jpg": (1006),
    "bg_day_overcast.jpg": (1009),
    "bg_day_foggy.jpg": (1030, 1135, 1147),
    "bg_day_rainy.jpg": (1063, 1069, 1072, 1150, 1153, 1168, 1171, 1180, 1183, 1186, 1189, 1192, 1195, 1198, 1201, 1204, 1207, 1240, 1243, 1246, 1249, 1252),
    "bg_day_snowy.jpg": (1066, 1114, 1117, 1210, 1213, 1216, 1219, 1222, 1225, 1237, 1255, 1258, 1261, 1264),
    "bg_day_thundery.jpg": (1087, 1273, 1276, 1279, 1282)
  ),
  "night": (
    "bg_night.jpg": (1000),
    "bg_night_partly_cloudy.jpg": (1003),
    "bg_night_cloudy.jpg": (1006),
    "bg_night_overcast.jpg": (1009),
    "bg_night_foggy.jpg": (1030, 1135, 1147),
    "bg_night_rainy.jpg": (1063, 1069, 1072, 1150, 1153, 1168, 1171, 1180, 1183, 1186, 1189, 1192, 1195, 1198, 1201, 1204, 1207, 1240, 1243, 1246, 1249, 1252),
    "bg_night_snowy.jpg": (1066, 1114, 1117, 1210, 1213, 1216, 1219, 1222, 1225, 1237, 1255, 1258, 1261, 1264),
    "bg_night_thundery.jpg": (1087, 1273, 1276, 1279, 1282)
  )
);

@mixin background-image($time, $background, $codes, $selector) {
	@each $code in $codes {
	  &[data-code="#{$code}"].#{$time} #{$selector} {
		background-image: url(../images/#{$background});
	  }
	}
  }



body {
	color: $light;

	.day-night-gradient-background {
		// display: none;
		position: fixed;
		left: 0;
		width: 100%;
		background: linear-gradient(to bottom, #11111d 7%, #182d53 49%, #3f62bd 70%, #5a7fb6 98%);
		z-index: 0;
		height: 200%;
		transition: all 1s ease-in-out;
		top: -100%;
		opacity: 1;

		&:before {
			display: none;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 50%;
			z-index: -1;
			background-image: url(../images/stars_pattern.png);

			mask: linear-gradient(rgba(black, 0.9) 07%, rgba(black, 0) 56%);

			background-size: rem-calc(120);
			transition: all 1s ease-in-out;
			background-repeat: repeat;
			background-position: top center;
		}
	}
	&.day .day-night-gradient-background:before {
		opacity: 0.07;
		top: 50%;
	}

	&.night .day-night-gradient-background {
		top: 0;
	}

	@each $time, $backgrounds in $weather-backgrounds {
		@each $background, $codes in $backgrounds {
			@include background-image($time, $background, $codes, ".weather > .weather-now .image-background");
		}
	  }
}
