body {
	&.day {
		background: #2980b9; /* fallback for old browsers */
		background: -webkit-linear-gradient(to top, #ffffff, #6dd5fa, #2980b9); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			to top,
			#ffffff,
			#6dd5fa,
			#2980b9
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	&.night {
		background: #0f0c29; /* fallback for old browsers */
		background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			to top,
			#24243e,
			#302b63,
			#0f0c29
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		color: $light;
	}

	&[data-code] .weather > .weather-now {
		background-position: left;
		background-size: cover;
	}

	// &[data-code="1000"].day .weather > .weather-now { background-image: url(../images/weather-1000-day.jpg); }
	// &[data-code="1003"].day .weather > .weather-now { background-image: url(../images/weather-1003-day.jpg); }
	// &[data-code="1006"].day .weather > .weather-now { background-image: url(../images/weather-1006-day.jpg); }
	// &[data-code="1009"].day .weather > .weather-now { background-image: url(../images/weather-1009-day.jpg); }
	// &[data-code="1030"].day .weather > .weather-now { background-image: url(../images/weather-1030-day.jpg); }
	// &[data-code="1063"].day .weather > .weather-now { background-image: url(../images/weather-1063-day.jpg); }
	// &[data-code="1066"].day .weather > .weather-now { background-image: url(../images/weather-1066-day.jpg); }
	// &[data-code="1069"].day .weather > .weather-now { background-image: url(../images/weather-1069-day.jpg); }
	// &[data-code="1072"].day .weather > .weather-now { background-image: url(../images/weather-1072-day.jpg); }
	// &[data-code="1087"].day .weather > .weather-now { background-image: url(../images/weather-1087-day.jpg); }
	// &[data-code="1114"].day .weather > .weather-now { background-image: url(../images/weather-1114-day.jpg); }
	// &[data-code="1117"].day .weather > .weather-now { background-image: url(../images/weather-1117-day.jpg); }
	// &[data-code="1135"].day .weather > .weather-now { background-image: url(../images/weather-1135-day.jpg); }
	// &[data-code="1147"].day .weather > .weather-now { background-image: url(../images/weather-1147-day.jpg); }
	// &[data-code="1150"].day .weather > .weather-now { background-image: url(../images/weather-1150-day.jpg); }
	// &[data-code="1153"].day .weather > .weather-now { background-image: url(../images/weather-1153-day.jpg); }
	// &[data-code="1168"].day .weather > .weather-now { background-image: url(../images/weather-1168-day.jpg); }
	// &[data-code="1171"].day .weather > .weather-now { background-image: url(../images/weather-1171-day.jpg); }
	// &[data-code="1180"].day .weather > .weather-now { background-image: url(../images/weather-1180-day.jpg); }
	// &[data-code="1183"].day .weather > .weather-now { background-image: url(../images/weather-1183-day.jpg); }
	// &[data-code="1186"].day .weather > .weather-now { background-image: url(../images/weather-1186-day.jpg); }
	// &[data-code="1189"].day .weather > .weather-now { background-image: url(../images/weather-1189-day.jpg); }
	// &[data-code="1192"].day .weather > .weather-now { background-image: url(../images/weather-1192-day.jpg); }
	// &[data-code="1195"].day .weather > .weather-now { background-image: url(../images/weather-1195-day.jpg); }
	// &[data-code="1198"].day .weather > .weather-now { background-image: url(../images/weather-1198-day.jpg); }
	// &[data-code="1201"].day .weather > .weather-now { background-image: url(../images/weather-1201-day.jpg); }
	// &[data-code="1204"].day .weather > .weather-now { background-image: url(../images/weather-1204-day.jpg); }
	// &[data-code="1207"].day .weather > .weather-now { background-image: url(../images/weather-1207-day.jpg); }
	// &[data-code="1210"].day .weather > .weather-now { background-image: url(../images/weather-1210-day.jpg); }
	// &[data-code="1213"].day .weather > .weather-now { background-image: url(../images/weather-1213-day.jpg); }
	// &[data-code="1216"].day .weather > .weather-now { background-image: url(../images/weather-1216-day.jpg); }
	// &[data-code="1219"].day .weather > .weather-now { background-image: url(../images/weather-1219-day.jpg); }
	// &[data-code="1222"].day .weather > .weather-now { background-image: url(../images/weather-1222-day.jpg); }
	// &[data-code="1225"].day .weather > .weather-now { background-image: url(../images/weather-1225-day.jpg); }
	// &[data-code="1237"].day .weather > .weather-now { background-image: url(../images/weather-1237-day.jpg); }
	// &[data-code="1240"].day .weather > .weather-now { background-image: url(../images/weather-1240-day.jpg); }
	// &[data-code="1243"].day .weather > .weather-now { background-image: url(../images/weather-1243-day.jpg); }
	// &[data-code="1246"].day .weather > .weather-now { background-image: url(../images/weather-1246-day.jpg); }
	// &[data-code="1249"].day .weather > .weather-now { background-image: url(../images/weather-1249-day.jpg); }
	// &[data-code="1252"].day .weather > .weather-now { background-image: url(../images/weather-1252-day.jpg); }
	// &[data-code="1255"].day .weather > .weather-now { background-image: url(../images/weather-1255-day.jpg); }
	// &[data-code="1258"].day .weather > .weather-now { background-image: url(../images/weather-1258-day.jpg); }
	// &[data-code="1261"].day .weather > .weather-now { background-image: url(../images/weather-1261-day.jpg); }
	// &[data-code="1264"].day .weather > .weather-now { background-image: url(../images/weather-1264-day.jpg); }
	// &[data-code="1273"].day .weather > .weather-now { background-image: url(../images/weather-1273-day.jpg); }
	// &[data-code="1276"].day .weather > .weather-now { background-image: url(../images/weather-1276-day.jpg); }
	// &[data-code="1279"].day .weather > .weather-now { background-image: url(../images/weather-1279-day.jpg); }
	// &[data-code="1282"].day .weather > .weather-now { background-image: url(../images/weather-1282-day.jpg); }

	// // night
	// &[data-code="1000"].night .weather > .weather-now { background-image: url(../images/weather-1000-day.jpg); }
	// &[data-code="1003"].night .weather > .weather-now { background-image: url(../images/weather-1003-day.jpg); }
	// &[data-code="1006"].night .weather > .weather-now { background-image: url(../images/weather-1006-day.jpg); }
	// &[data-code="1009"].night .weather > .weather-now { background-image: url(../images/weather-1009-day.jpg); }
	// &[data-code="1030"].night .weather > .weather-now { background-image: url(../images/weather-1030-day.jpg); }
	// &[data-code="1063"].night .weather > .weather-now { background-image: url(../images/weather-1063-day.jpg); }
	// &[data-code="1066"].night .weather > .weather-now { background-image: url(../images/weather-1066-day.jpg); }
	// &[data-code="1069"].night .weather > .weather-now { background-image: url(../images/weather-1069-day.jpg); }
	// &[data-code="1072"].night .weather > .weather-now { background-image: url(../images/weather-1072-day.jpg); }
	// &[data-code="1087"].night .weather > .weather-now { background-image: url(../images/weather-1087-day.jpg); }
	// &[data-code="1114"].night .weather > .weather-now { background-image: url(../images/weather-1114-day.jpg); }
	// &[data-code="1117"].night .weather > .weather-now { background-image: url(../images/weather-1117-day.jpg); }
	// &[data-code="1135"].night .weather > .weather-now { background-image: url(../images/weather-1135-day.jpg); }
	// &[data-code="1147"].night .weather > .weather-now { background-image: url(../images/weather-1147-day.jpg); }
	// &[data-code="1150"].night .weather > .weather-now { background-image: url(../images/weather-1150-day.jpg); }
	// &[data-code="1153"].night .weather > .weather-now { background-image: url(../images/weather-1153-day.jpg); }
	// &[data-code="1168"].night .weather > .weather-now { background-image: url(../images/weather-1168-day.jpg); }
	// &[data-code="1171"].night .weather > .weather-now { background-image: url(../images/weather-1171-day.jpg); }
	// &[data-code="1180"].night .weather > .weather-now { background-image: url(../images/weather-1180-day.jpg); }
	// &[data-code="1183"].night .weather > .weather-now { background-image: url(../images/weather-1183-day.jpg); }
	// &[data-code="1186"].night .weather > .weather-now { background-image: url(../images/weather-1186-day.jpg); }
	// &[data-code="1189"].night .weather > .weather-now { background-image: url(../images/weather-1189-day.jpg); }
	// &[data-code="1192"].night .weather > .weather-now { background-image: url(../images/weather-1192-day.jpg); }
	// &[data-code="1195"].night .weather > .weather-now { background-image: url(../images/weather-1195-day.jpg); }
	// &[data-code="1198"].night .weather > .weather-now { background-image: url(../images/weather-1198-day.jpg); }
	// &[data-code="1201"].night .weather > .weather-now { background-image: url(../images/weather-1201-day.jpg); }
	// &[data-code="1204"].night .weather > .weather-now { background-image: url(../images/weather-1204-day.jpg); }
	// &[data-code="1207"].night .weather > .weather-now { background-image: url(../images/weather-1207-day.jpg); }
	// &[data-code="1210"].night .weather > .weather-now { background-image: url(../images/weather-1210-day.jpg); }
	// &[data-code="1213"].night .weather > .weather-now { background-image: url(../images/weather-1213-day.jpg); }
	// &[data-code="1216"].night .weather > .weather-now { background-image: url(../images/weather-1216-day.jpg); }
	// &[data-code="1219"].night .weather > .weather-now { background-image: url(../images/weather-1219-day.jpg); }
	// &[data-code="1222"].night .weather > .weather-now { background-image: url(../images/weather-1222-day.jpg); }
	// &[data-code="1225"].night .weather > .weather-now { background-image: url(../images/weather-1225-day.jpg); }
	// &[data-code="1237"].night .weather > .weather-now { background-image: url(../images/weather-1237-day.jpg); }
	// &[data-code="1240"].night .weather > .weather-now { background-image: url(../images/weather-1240-day.jpg); }
	// &[data-code="1243"].night .weather > .weather-now { background-image: url(../images/weather-1243-day.jpg); }
	// &[data-code="1246"].night .weather > .weather-now { background-image: url(../images/weather-1246-day.jpg); }
	// &[data-code="1249"].night .weather > .weather-now { background-image: url(../images/weather-1249-day.jpg); }
	// &[data-code="1252"].night .weather > .weather-now { background-image: url(../images/weather-1252-day.jpg); }
	// &[data-code="1255"].night .weather > .weather-now { background-image: url(../images/weather-1255-day.jpg); }
	// &[data-code="1258"].night .weather > .weather-now { background-image: url(../images/weather-1258-day.jpg); }
	// &[data-code="1261"].night .weather > .weather-now { background-image: url(../images/weather-1261-day.jpg); }
	// &[data-code="1264"].night .weather > .weather-now { background-image: url(../images/weather-1264-day.jpg); }
	// &[data-code="1273"].night .weather > .weather-now { background-image: url(../images/weather-1273-day.jpg); }
	// &[data-code="1276"].night .weather > .weather-now { background-image: url(../images/weather-1276-day.jpg); }
	// &[data-code="1279"].night .weather > .weather-now { background-image: url(../images/weather-1279-day.jpg); }
	// &[data-code="1282"].night .weather > .weather-now { background-image: url(../images/weather-1282-day.jpg); }
}
