body {
	padding-bottom: rem-calc(56);

	@include breakpoint(small only) {
		padding-top: rem-calc(77);
	}

	@include breakpoint(medium) {
		// 768
		padding-top: rem-calc($headerHeight);
	}
}

// html,
// body {
// 	scrollbar-width: thin;
// 	scrollbar-color: rgba($light, 0.14) rgba($dark, 1);
// }
