.loader {
	position: fixed;
	background: rgba($dark, 0.56);
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	height: 100dvh;
	backdrop-filter: blur(7px);
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.21s $bezier;

	&.open {
		pointer-events: all;
		opacity: 1;
		visibility: visible;
	}

	.loader-container {
		width: rem-calc(140);
		height: rem-calc(140);
		border-radius: rem-calc(21);
		background: $light;
		box-shadow: rem-calc(0 0 14 0) rgba($dark, 0.56);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		img {
			max-height: rem-calc(77);
			display: block;
		}
		p {
			font-size: rem-calc(14);
			text-align: center;
		}
	}
}
