.loader {
	position: fixed;
	z-index: 999999;
	background: rgba($dark, 0.56);
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	height: 100dvh;
	backdrop-filter: blur(7px);
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.21s $bezier;

	&.open {
		pointer-events: all;
		opacity: 1;
		visibility: visible;
	}

	.loader-container {
		border-radius: rem-calc(21);
		background: transparent;
		box-shadow: 
				rem-calc(0 0 7 0) rgba($dark, 0.56),
				rem-calc(0 0 0 14) rgba($light, 1);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		overflow: hidden;

		dotlottie-player {
			height: rem-calc(256)!important;
			width: rem-calc(256)!important;

			@include breakpoint(small only) {
				// < 768
				height: rem-calc(160)!important;
				width: rem-calc(160)!important;
			}
		}
	}
}
