.notification {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000000;

	background: $dark;
	color: $light;
	padding: rem-calc(14 21);
	width: 100%;
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;

	transform: translate(0, -100%);
	transition: transform 0.21s ease-out;
	font-family: $font500;
	letter-spacing: rem-calc(0.3);

	&.open {
		transform: translate(0, -2%);
		transition: transform 0.21s ease-in;
	}

	&-message {
		flex-grow: 1;
	}

	.icon {
		padding: rem-calc(7);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.toast {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, -100%);
	z-index: 1000000;
	width: 100%;
	max-width: rem-calc(1400);
	padding: rem-calc(14);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.21s ease-out;

	&.open {
		transform: translate(-50%, 0);
		transition: transform 0.21s ease-in;
	}

	&-message {
		width: 100%;
		background: rgba($error, 0.91);
		backdrop-filter: blur(28px);
		color: $light;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: rem-calc(56);
		box-shadow: rem-calc(0 0 14 0) rgba(darken($dark, 25%), 0.21);
		padding: rem-calc(14);

		span {
			display: block;
			flex-grow: 1;
			font-family: $font500;
			letter-spacing: rem-calc(0.3);
			text-align: center;
		}

		i {
			padding: rem-calc(7);
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
		}

		.progress-circle {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			circle {
				stroke: $light;
				fill: none;
			}
		}
	}
}
