$dark: #24243e;
$light: #e5f5ff;
$accent: #ff4200;

$error: #be123c;

$weatherCornerRadius: 28;
$bezier: cubic-bezier(0.57, -0.57, 0.47, 1.05);

$headerHeight: 77;

@mixin setHeights($value) {
	height: rem-calc($value);

	span {
		line-height: rem-calc($value);
	}
}

@mixin flex-middle($inline: false, $gap: 7, $dir: column) {
	@if $inline == true {
		display: inline-flex;
	} @else {
		display: flex;
	}
	justify-content: center;
	align-items: center;
	flex-direction: $dir;
	gap: rem-calc($gap);
}
