.weather-hourly {
	overflow: hidden;
	width: 100%;

	.weather-hours {
		overflow: auto;
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		gap: rem-calc(7);
		cursor: grab;
		transform: scale(1);
		transition: transform 0.21s $bezier;

		&:active {
			cursor: grabbing;
		}

		@include breakpoint(xxlarge) {
			// 1400
			gap: rem-calc(7);
		}
	}
}

.weather-hour-card {
	// < 768
	@include flex-middle(false, 7);
	padding: rem-calc(14);
	background: rgba($dark, 0.14);
	border-radius: rem-calc(14);
	width: rem-calc(112);
	flex-shrink: 0;
	user-select: none;
	pointer-events: none;
	backdrop-filter: blur(3px);

	@include breakpoint(small only) {
		// < 768
		width: rem-calc(126);
	}

	@include breakpoint(xxlarge) {
		// 1400
		width: rem-calc(126);
	}

	* {
		user-select: none;
		-webkit-user-drag: none;
	}

	.weather-hour {
		&-condition {
			text-align: center;
			flex-grow: 1;
		}

		&-temp,
		&-precip {
			margin-bottom: rem-calc(14);
		}
	}

	.weather-hour-temp,
	.weather-hour-precip,
	.weather-hour-wind {
		@include flex-middle(false, 0, row);
		width: 100%;
		gap: rem-calc(7);

		i {
			width: rem-calc(42);
			text-align: right;
			display: inline-block;
		}

		div, div span {
			min-width: rem-calc(56);
			text-align: left;
		}
	}
	.dual-value {
		@include setHeights(21);
	}
}

body.night {
	.weather-hour-card {
		background: rgba(darken($dark, 10%), 0.14);
	}
}
