.weather .weather-now {
	position: relative;
	border-radius: rem-calc(21);
	overflow: hidden;
	> * {
		z-index: 1;
	}

	&.day .image-background {
		.day {
			opacity: 1;
		}

		.night {
			opacity: 0;
		}
	}

	&.night .image-background {
		.day {
			opacity: 0;
		}

		.night {
			opacity: 1;
		}
	}


	.image-background {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $dark;
		opacity: 0.56;

		img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: bottom;
			transition: opacity 0.35s ease-in-out;
			mix-blend-mode: lighten;
		}
}

	@include breakpoint(medium) {
		// 768
		display: grid;
		grid-template-areas: "title title" "location weather" "details details";
		grid-template-columns: 2fr 3fr;
		grid-template-rows: rem-calc(100) auto;
		align-items: center;
		min-height: 70vh;

		.title {
			grid-area: title;
		}
		.weather-location {
			grid-area: location;
		}
		.weather-current {
			grid-area: weather;
		}
		.weather-current-details {
			grid-area: details;
		}
	}

	@include breakpoint(large down) {
		// 1200
		gap: rem-calc(21);
	}

	@include breakpoint(xlarge) {
		// 1200
		grid-template-areas: "title title title" "location weather details";
		grid-template-columns: 3fr 5fr 3fr;
		gap: rem-calc(7);
		align-items: stretch;
	}

	@include breakpoint(small only) {
		// < 768
		display: flex;
		flex-direction: column;
		gap: rem-calc(7);
		padding: rem-calc(21);
	}


	.current-region,
	.current-coords {
		@include breakpoint(small only) {
			// < 768
			display: none;
		}
	}
}

.weather-current {
	padding: rem-calc(35 0);
	border-radius: rem-calc(14);
	// backdrop-filter: blur(2px);
	// background: rgba($light, 0.07);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include breakpoint(large) {
		// 768
		padding: rem-calc(35);
		min-height: rem-calc(350);
	}

	@include breakpoint(xxlarge) {
		// 1400
		align-self: center;
		height: 100%;
		padding: rem-calc(63 0);
	}

	@include breakpoint(small only) {
		// < 768
		padding: rem-calc(35 0);
	}

	.now {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: rem-calc(14);
	}

	.weather-current-temp {
		width: 100%;

		span {
			font-size: rem-calc(98);
		}

		@include breakpoint(large down) {
			// 1024
			height: rem-calc(98);

			span {
				font-size: rem-calc(77);
			}
		}

		@include breakpoint(xlarge) {
			// 768
			height: rem-calc(112);
		}
	}

	.weather-current-text {
		padding: rem-calc(14 0);
		display: inline-block;
		font-size: rem-calc(28);
	}

	.weather-current-feels {
		@include setHeights(21);
		margin-bottom: rem-calc(21);
	}

	.astro {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: rem-calc(21);

		svg {
			margin-right: rem-calc(7);
			path {
				fill: $light;
			}
		}

		.sunrise path {fill: lighten($accent, 20%)}
		.sunset path {fill: lighten($accent, 10%)}
	}
}

.weather-location {

	@include breakpoint(medium down) {
		// 768
		padding: rem-calc(21 0 35 0);
	}
	@include breakpoint(xlarge) {
		// 1200
		align-self: center;
	}

	.weather-location-city {
		@include flex-middle;

		@include breakpoint(small only) {
			// < 768
			text-align: center;
		}

		@include breakpoint(medium) {
			// 768
			align-items: flex-start;
		}

		@include breakpoint(small only) {
			// < 768
			align-items: center;
		}

		.fi {
			margin-right: rem-calc(7);
		}

		.current-city {
			margin-bottom: rem-calc(7);
			font-family: $font700;
			font-size: rem-calc(63);

			@include breakpoint(small only) {
				// < 768
				font-size: rem-calc(42);
			}
		}

		.current-region {
			display: none;
		}

		.current-country {
			font-size: rem-calc(18);
			font-family: $font500;
			letter-spacing: rem-calc(0.5);
			margin-top: rem-calc(14);
			display: block;
		}
	}

	.location-time {
		margin-bottom: rem-calc(14);
		display: block;
		@include breakpoint(small only) {
			// < 768
			text-align: center;
		}
	}
}

.weather-current-details {
	// 768
	display: grid;
	place-content: center;
	align-items: center;
	gap: rem-calc(7);
	margin-top: auto;
	align-content: stretch;

	@include breakpoint(small only) {
		// < 768
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	@include breakpoint(medium) {
		// 1024
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}

	@include breakpoint(xlarge) {
		// 1024
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		height: 100%;
	}

	@include breakpoint(xxlarge) {
		// 1400
		gap: rem-calc(7);
	}

	.flex-items {
		@include flex-middle;
		padding: rem-calc(14);
		// background: rgba(lighten($light, 25%), 0.1);
		border-radius: rem-calc(14);
		gap: rem-calc(14);
		width: 100%;
		height: 100%;
		// backdrop-filter: blur(2px);
		flex-shrink: 0;
		min-width: 0;

		@include breakpoint(xlarge down) {
			// 1024
			aspect-ratio: 1/1;
		}

		@include breakpoint(xxlarge) {
			// 1400
			height: 100%;
			gap: rem-calc(21);
		}

		.desc {
			font-family: $font900;
			font-size: rem-calc(10);
			text-transform: uppercase;
			letter-spacing: rem-calc(1);
			text-align: center;
			white-space: nowrap;
			opacity: 0.7;
		}

		.weather-value {
			font-size: rem-calc(28);

			.unit {
				font-size: rem-calc(16);
				opacity: 0.42;
				margin-left: rem-calc(4);
			}
		}
	}

	.weather-current-wind {
		&-values {
			@include setHeights(28);
		}
	}
	.weather-current-precipitation {
		&-values {
			@include setHeights(28);
		}
	}
}
