.weather .weather-now {
	position: relative;
	border-radius: rem-calc(21);
	overflow: hidden;
	padding: rem-calc(42);
	margin: rem-calc(0 14);
	min-height: rem-calc(630);

	@include breakpoint(medium) {
		// 768
		display: grid;
		grid-template-areas: "title title" "location weather" "details details";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: rem-calc(35) auto;
		align-items: center;

		.title {
			grid-area: title;
		}
		.weather-location {
			grid-area: location;
		}
		.weather-current {
			grid-area: weather;
		}
		.weather-current-details {
			grid-area: details;
		}
	}

	@include breakpoint(large down) {
		// 1200
		gap: rem-calc(21);
	}

	@include breakpoint(small only) {
		// < 768
		display: flex;
		flex-direction: column;
		gap: rem-calc(7);
		padding: rem-calc(35);
		max-width: calc(100% - rem-calc(42));
		margin: 0 auto;
	}

	> * {
		z-index: 1;
	}

	.image-background {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $dark;
		opacity: 0.56;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;

		img {
			display: none;
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: bottom;
			transition: opacity 0.35s ease-in-out;
			mix-blend-mode: lighten;
		}
	}

	.astro {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: rem-calc(21);
		padding: rem-calc(21 0);

		@include breakpoint(small only) {
			// < 768
			padding: rem-calc(14 0);
		}

		span {
			display: flex;
			align-items: center;
			gap: rem-calc(7);
		}

		svg {
			path {
				fill: $light;
			}
		}

		// .sunrise path {fill: lighten($accent, 20%)}
		// .sunset path {fill: lighten($accent, 10%)}
	}

	.current-region,
	.current-coords {
		@include breakpoint(small only) {
			// < 768
			display: none;
		}
	}
}

.weather-current {
	border-radius: rem-calc(14);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include breakpoint(large) {
		// 768
		min-height: rem-calc(350);
	}

	@include breakpoint(xxlarge) {
		// 1400
		align-self: center;
		height: 100%;
	}

	@include breakpoint(small only) {
		// < 768
		padding: 0;
	}

	.now {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		@include breakpoint(small only) {
			// < 768
			padding-bottom: rem-calc(21);
		}
	}

	.weather-current-temp {
		width: 100%;
		grid-area: temp;

		span {
			font-size: rem-calc(98);
		}

		.dual-value {
			width: 100%;

			@include breakpoint(large down) {
				// 1024
				height: rem-calc(98);

				span {
					font-size: rem-calc(77);
				}
			}

			@include breakpoint(xlarge) {
				// 768
				height: rem-calc(112);
			}
		}
	}

	.weather-current-text {
		display: inline-block;
		margin-top: rem-calc(-14);
		font-size: rem-calc(28);
		max-width: rem-calc(280);
		text-align: center;
	}

	.weather-now-condition {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: rem-calc(14);
		width: 100%;

		@include breakpoint(small only) {
			// < 768
			flex-direction: column;
		}

		img {
			min-width: rem-calc(180);

			@include breakpoint(small only) {
				// < 768
				min-width: rem-calc(98);
			}

			@include breakpoint(medium only) {
				// 768
				min-width: rem-calc(112);
			}
		}
	}

	.weather-current-feels {
		@include setHeights(21);
		margin-bottom: rem-calc(21);
	}
}

.weather-location {
	@include breakpoint(xlarge) {
		// 1200
		align-self: center;
	}

	.weather-location-city {
		@include flex-middle;

		@include breakpoint(small only) {
			// < 768
			text-align: center;
			gap: rem-calc(7);
		}

		@include breakpoint(medium) {
			// 768
			align-items: flex-start;
		}

		@include breakpoint(small only) {
			// < 768
			align-items: center;
		}

		.fi {
			margin-right: rem-calc(7);
		}

		.current-city {
			margin-bottom: rem-calc(7);
			font-family: $font700;
			font-size: rem-calc(63);

			@include breakpoint(small only) {
				// < 768
				font-size: rem-calc(42);
			}
		}

		.region-coords {
			display: flex;
			flex-wrap: wrap;
			gap: rem-calc(7);
			margin-top: rem-calc(7);
			justify-content: flex-start;
			align-items: center;
		}

		.current-country {
			font-size: rem-calc(18);
			font-family: $font500;
			letter-spacing: rem-calc(0.5);
			display: block;

			@include breakpoint(medium) {
				// < 768
				margin-top: rem-calc(14);
			}
		}
	}

	.location-time {
		margin-bottom: rem-calc(14);
		display: block;
		@include breakpoint(small only) {
			// < 768
			text-align: center;
		}
	}
}

.weather-current-details {
	// 768
	display: grid;
	place-content: center;
	align-items: center;
	gap: rem-calc(7);
	margin-top: auto;
	align-content: stretch;

	@include breakpoint(medium down) {
		// < 768
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	@media screen and (max-width: rem-calc(500)) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}

	@include breakpoint(large) {
		// 1024
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}

	@include breakpoint(xxlarge) {
		// 1400
		gap: rem-calc(7);
	}

	.flex-items {
		@include flex-middle;
		padding: rem-calc(14);
		background: rgba($dark, 0.21);
		border-radius: rem-calc(14);
		gap: rem-calc(14);
		width: 100%;
		height: 100%;
		backdrop-filter: blur(3px);
		flex-shrink: 0;
		min-width: 0;

		@include breakpoint(xxlarge) {
			// 1400
			height: 100%;
			gap: rem-calc(14);
		}

		.current-detail-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: rem-calc(7);
			min-width: min-content;
			max-width: 100%;

			@include breakpoint(xlarge down) {
				// 1400
				flex-direction: column;
			}
		}

		.desc {
			font-family: $font900;
			font-size: rem-calc(12);
			// text-transform: uppercase;
			letter-spacing: rem-calc(1);
			text-align: center;
			opacity: 1;
		}

		.weather-value {
			font-size: rem-calc(28);

			.unit {
				font-size: rem-calc(16);
				opacity: 0.42;
				margin-left: rem-calc(4);
			}
		}
	}

	.weather-current-wind {
		&-values .dual-value {
			@include setHeights(28);
		}
	}
	.weather-current-precipitation {
		&-values .dual-value {
			@include setHeights(28);
		}
	}
}

.weather-now.night .weather-current-details .flex-items {
	background: rgba(darken($dark, 10%), 0.35);
}
