.weather-hourly {
	overflow: hidden;
	width: 100%;

	&.active .weather-hours {
		transform: scale(0.98);
	}

	.weather-hours {
		$mask: 150px;
		overflow: auto;

		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		gap: rem-calc(7);
		cursor: grab;

		// scrollbar-width: thin;
		scrollbar-color: rgba($light, 0.14) rgba($dark, 0.49);
		// mask: linear-gradient(to left, transparent 0%, black $mask, black calc(100% - $mask), transparent 100%);

		@include breakpoint(xxlarge) {
			// 1400
			gap: rem-calc(7);
		}
		transform: scale(1);
		transition: transform 0.21s $bezier;
	}
}

.weather-hour-card {
	// < 768
	@include flex-middle(false, 14);
	padding: rem-calc(14);
	background: rgba($light, 0.07);
	border-radius: rem-calc(14);
	width: rem-calc(112);
	flex-shrink: 0;
	user-select: none;
	pointer-events: none;

	@include breakpoint(xxlarge) {
		// 1400
		width: rem-calc(126);
	}

	* {
		user-select: none;
		-webkit-user-drag: none;
		// pointer-events: none;
	}

	.weather-hour {
		&-condition {
			text-align: center;
			line-height: 1.4;
			height: rem-calc(16 * 1.4);
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
		}

		&-temp,
		&-precip {
			margin-bottom: rem-calc(14);
		}
	}

	.weather-hour-temp,
	.weather-hour-precip,
	.weather-hour-wind {
		@include flex-middle(true, 0);
	}
	.dual-value {
		@include setHeights(21);
	}
}
