.tab {
    display: none;
    background-color: $dark;
    color: $light;

    &.active {
        display: block;
    }
}

.tab {
    width: 100%;
    padding: 140px 0;
    height: 100vh;
    position: relative;
    overflow: auto;
}