.hero {
	background-image: url("../images/hero.png");

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;

	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	z-index: 0;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -1;

		@media screen and (max-width: 767px) {
			background-color: rgba(0, 0, 0, 0.75);
		}
	}

	.container {
		position: relative;
		z-index: 1;
		flex-direction: column;
		align-items: center;
		display: flex;
	}

	&-title {
		color: $light;
		font-size: 91px;
		margin-bottom: 28px;
		text-align: center;

		@media screen and (max-width: 767px) {
			font-size: 56px;
		}
	}

	&-text {
		max-width: 700px;
		margin-bottom: 28px;
		color: $light;
		@include font(700);
		font-size: 21px;
		text-align: center;
		line-height: 1.34;
	}

	&-button {
		margin: 21px 0;
		padding: 14px 28px;
		border-radius: 8px;
		font-size: 18px;
		@include font(700);
		text-transform: uppercase;
		letter-spacing: 1px;
		transition: all 0.3s $bezier;
		background: $accent;
		color: $dark;
		cursor: pointer;
	}
}
