#app {
	display: grid;
	grid-template-columns: rem-calc(300) auto rem-calc(420);
	grid-template-rows: 100%;
	overflow: hidden;
	height: 100vh;
	height: 100dvh;
	width: 100vw;
	font-family: $font500;
	background: $themeDark;
	color: $themeLight;
	align-items: stretch;
	padding: rem-calc(21);
	gap: rem-calc(21);
	overflow: hidden;
}
