#app {
	@include breakpoint(xlarge) {
		// 768
		display: grid;
		grid-template-columns: rem-calc(300) auto rem-calc(350);
		grid-template-rows: 100%;
		overflow: hidden;
		height: 100vh;
		height: 100dvh;
		width: 100vw;
		align-items: stretch;
		gap: rem-calc(21);
	}

	@include breakpoint(large down) {
		// < 768
		padding-top: rem-calc(98);
	}

	@media screen and (min-width: 1200px) and (max-width: 1439px) {
		grid-template-columns: rem-calc(300) auto auto;
	}
	min-height: 100%;
	min-height: 100vh;
	min-height: 100dvh;
	font-family: $font500;
	background: $themeDark;
	color: $themeLight;
	padding: rem-calc(21);
}
