// page variables



// page elements
body.soon {
  background: $cs-main-dark;
  position: relative;
  z-index: 0;
  padding-bottom: rem-calc(140);
  transition: opacity 0.3s ease-in-out;
  animation-duration: 0.7s;

  @include breakpoint(medium) {
    &:not(.animated) {
      opacity: 0;
    }
  }



  .background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.75;

    &-top,
    &-bottom {
      &:after {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: rem-calc(150px);
        z-index: 2;
        background: linear-gradient(0deg, rgba($cs-main-dark, 1), rgba($cs-main-dark, 0) 95%);
      }
    }

    &-top {
      background-image: url(../images/aurora.png);
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
      position: relative;
      height: calc(100vh + 200px);
      width: 100%;
      opacity: 0.7;

      &:after {
        top: auto;
        bottom: 0;
      }

    }

    &-bottom {
      background-image: url(../images/aurora.png);
      background-size: cover;
      background-position: bottom center;
      background-repeat: no-repeat;
      position: relative;
      height: rem-calc(290px);
      width: 100%;

      &:after {
        top: rem-calc(-1px);
        background: linear-gradient(180deg, rgba($cs-main-dark, 1), rgba($cs-main-dark, 0) 85%);
      }
    }
  }

  main {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: rem-calc(1440);
    margin: 0 auto;
    padding: rem-calc(0 14);



    .logo-container {
      position: relative;
      height: rem-calc(56);
      //width: rem-calc(205);
      //padding: rem-calc(14 28);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: rem-calc(56);
      @include glass($cs-main-dark, 0.56, 7px, #000, 0, 0);

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: rem-calc(14 32);
        color: #fff;
        text-decoration: none;
        font-family: $base-font;
        font-size: rem-calc(22);
      }
    }

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-height: 100vh;

      margin: 0 auto;
      text-align: center;
      padding: rem-calc(70 0);


      .cs-title {
        color: #fff;
        text-align: center;
        width: 100%;
        margin: auto auto rem-calc(28);

        @include font(28px, 56px, 1, 700, normal, 320px, 1200px, $base-font);

        a {
          font: inherit;
          color: $cs-accent;
          text-decoration: none;
        }
      }

      .cs-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: auto;

        p {
          color: $cs-text-color;
          @include font(14px, 21px, 1.4, 600, normal, 320px, 1200px, $text-font);
          letter-spacing: rem-calc(0.5);
          max-width: rem-calc(560);
        }

        &-nav {
          list-style-type: none;
          margin-top: rem-calc(60);
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
          max-width: rem-calc(1200);
          grid-gap: rem-calc(42);
  
          &-item {
            @include glass($cs-accent-2, 0.07, 7px, $border-alpha: 0.07, $border-width: 1.4);
            position: relative;
            height: 0;
            padding-bottom: 100%;
            overflow: hidden;

            transition: transform 0.25s linear; 

            &:nth-child(1) {
              border-radius: rem-calc(7 14 28 14);
            }
            &:nth-child(2) {
              border-radius: rem-calc(7 28 7 14);
            }
            &:nth-child(3) {
              border-radius: rem-calc(28 7 14 7);
            }
            &:nth-child(4) {
              border-radius: rem-calc(14 7 28 7);
            }
            &:nth-child(5) {
              border-radius: rem-calc(7 14 28 7);
            }

            a {
              @extend .absolute;
              @extend .absolute-full;
              overflow: hidden;
              transform: scale(0.85);
              transition: all 0.15s cubic-bezier(1, 0.64, 0, 0.42);

              cursor: pointer;
              text-decoration: none;
              position: absolute;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              color: $cs-accent-2;
              
              span {
                margin-top: rem-calc(7);
                @include font(12px, 14px, 2, 700, normal, 320px, 1200px, $text-font);
                text-transform: uppercase;
                letter-spacing: rem-calc(1);
                font-family: $text-font;
                color: $cs-accent-2;
              }

              img, svg {
                width: rem-calc(126);
                height: rem-calc(126);
                display: block;
                object-fit: cover;
                object-position: top center;
                border-radius: 50%;
              }

              &.active {
                pointer-events: none;
              }
            }

            &:hover {
              a {
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }
  }


  .resume {

    &.glass {
      @include glass(#131419, 0.14, 7px, $border-alpha: 0.07);
    }

    padding: rem-calc(56);
    border-radius: rem-calc(56);
    color: #fff;
    max-width: rem-calc(910px);
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-top: rem-calc(70);
    display: grid;
    grid-template-columns: 69% auto;
    grid-gap: rem-calc(0);

    @include breakpoint(small only) {
      display: flex;
      flex-direction: column;
      margin-top: rem-calc(35);
      padding: rem-calc(28);
      max-width: rem-calc(400);
    }


    &-subtitle {
      color: $cs-resume-green;
      @include font(14px, 18px, 1, 700, normal, 320px, 1200px, $tech-font);
      letter-spacing: rem-calc(0.5);
      margin-bottom: rem-calc(10);
    }

    &-timeframe {
      @extend .resume-subtitle;
      color: rgba($cs-text-color, 0.91);
      @include font(12px, 14px, 1, 700, normal, 320px, 1200px, $tech-font);
      margin-bottom: rem-calc(14);
      letter-spacing: rem-calc(0.5);
    }

    &-title {
      font-family: $tech-font;
      max-width: rem-calc(450);
      margin-bottom: rem-calc(70);

      &-position {
        font-family: inherit;
        @include font(14px, 21px, 1, 700, normal, 320px, 1200px, $text-font);
        color: $cs-resume-beige;
        margin-bottom: rem-calc(14);
      }

      &-name {
        font-family: inherit;
        @include font(28px, 42px, 1, 700, normal, 320px, 1200px, $text-font);
        margin-bottom: rem-calc(28);
        font-weight: 700;

        span {
          color: $cs-resume-green;
          font: inherit;
          font-weight: inherit;
          font-size: inherit;
        }
      }

      &-intro {
        font-size: rem-calc(13);
        letter-spacing: rem-calc(1px);
        line-height: 1.4;
        font-weight: 500;
        margin-bottom: rem-calc(14);
        color: $cs-text-color;
      }
    }

    &-profile {
      position: relative;
      z-index: 0;
      display: grid;
      place-content: center;

      @include breakpoint(small only) {
        order: -1;
        margin-bottom: rem-calc(28);
      }

      @include breakpoint(medium) {
        //margin-left: rem-calc(-140px);
      }

      &-background {
        width: rem-calc(560px);
        height: rem-calc(560px);
        position: absolute;
        top: rem-calc(-56);
        right: rem-calc(-56);
        background: url(../images/resume_corner.png);
        background-position: top right;
        background-size: contain;
        background-repeat: no-repeat;

        @include breakpoint(small only) {
          width: rem-calc(280px);
          height: rem-calc(280px);
          top: rem-calc(-28);
          right: rem-calc(-28);
        }

      }

      &-image {
        position: relative;
        width: rem-calc(280);
        height: rem-calc(280);
        border-radius: rem-calc(210);
        overflow: hidden;
        //padding: rem-calc(6);
        background: linear-gradient(45deg, $cs-resume-green 0%, white 75%);
        box-shadow: rem-calc(7 14 56 0) rgba($cs-main-dark, 0.21);

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scaleX(-1);
          display: block;
          width: calc(100% - 16px);
          height: calc(100% - 16px);
          object-fit: cover;
          border-radius: rem-calc(1000px);

        }

        //&:after {
        //  content: "";
        //  display: block;
        //  position: absolute;
        //  top: 0; 
        //  left: 0;
        //  z-index: 1;
        //  width: rem-calc(280);
        //  height: rem-calc(280);
        //  box-shadow: inset rem-calc(0 0 0 10) $cs-resume-green;
        //  border-radius: rem-calc(210);

        //}

        @include breakpoint(small only) {
          width: rem-calc(210px);
          height: rem-calc(210px);
        }

      }
    }

    &-work {
      position: relative;
      z-index: 1;

      @include breakpoint(medium) {
        padding-right: rem-calc(35);
        margin-right: rem-calc(35);
        border-right: rem-calc(2px) solid rgba(#fff, 0.07);
      }


      &-title {
        text-transform: uppercase;
        letter-spacing: rem-calc(1);
        font-family: $tech-font;
        line-height: 1;
        font-size: rem-calc(18);
        color: $cs-resume-beige;
        font-weight: 700;
        margin-bottom: rem-calc(21);
      }

      &-section {
        margin-bottom: rem-calc(35);

        &-description {
          font-family: $text-font;
          font-size: rem-calc(14);
          font-weight: 500;
          letter-spacing: rem-calc(0.15);
          line-height: 1.7;
          margin-bottom: rem-calc(10);
          color: rgba($cs-text-color, 0.84);

          span {
            font: inherit;
            color: rgba($cs-resume-beige, 0.84);
          }
        }
      }
    }

    &-other {
      &-section {
        margin-bottom: rem-calc(56);

        &-title {
          @extend .resume-work-title;
        }

        &-description {
          list-style-type: none;
          @extend .resume-work-section-description;

          li {
            @extend .resume-work-section-description;
            margin-bottom: rem-calc(28);
            font-family: $text-font;
            line-height: 1.4;

            &[class*='resume-contact-'] {
              margin-bottom: rem-calc(7);
            }

            &.resume-languages .resume-subtitle {
              color: rgba($cs-text-color, 0.91);
            }

            a {
              text-decoration: none;
              color: inherit;
            }
          }
        }
      }
    }
  }

  .gallery:not(.masonry) {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: rem-calc(10);
    display: grid;
    grid-gap: rem-calc(10);
    max-width: rem-calc(1440);
    margin: 0 auto;
    //grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(20%,1fr));
    
    @include breakpoint (large down) {
      grid-template-columns: repeat(auto-fill, minmax(40%,1fr));
    }

    @include breakpoint (small only) {
      grid-template-columns: repeat(auto-fill, minmax(80%,1fr));
    }


    .item {
      display: block;
      background: $cs-main-dark;
      margin-bottom: rem-calc(10);
      //height: 0;
      //padding-bottom: 56.25%;
      position: relative;

      a,
      img {
        display: block;
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
        min-height: rem-calc(250px);
      }

      iframe {
        width: 100%!important;
        height: rem-calc(500)!important;
      }

      a {
        overflow: hidden;

        
      }
      p {
        position: absolute;
        z-index: 1;
        bottom: rem-calc(25);
        left: rem-calc(25);
        color: $cs-text-color;
        font-weight: 600;
        background: $cs-main-dark;
        padding: rem-calc(8 16);
        min-width: rem-calc(200);
        //background: linear-gradient(rgba(#000, 0), rgba(#000, 0.85));
        margin: 0;
        width: calc(100% - rem-calc(50));
        text-align: center;
        border-radius: rem-calc(100);
        //transform: translateY(150%);
        transition: all 0.25s ease-in-out;
        font-size: rem-calc(12);
        letter-spacing: rem-calc(1);
      }

    }


  }

  .item.lp {
    width: 100%;
    position: relative;
    z-index: 2;
    img {
      display: block;
      width: 90%;
      max-width: rem-calc(1200);
      margin: 0 auto;
    }
  }
}


body.soon.showcase {
  .intro {
    min-height: auto;

    .cs-desc {


    }
  }
}

.tabcontent {
  display: none;
}

.tabcontent.active {
  display: block;
}


body.soon {

  .tabs {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: rem-calc(56 0 28);
    margin: 0 auto;
    border-top: rem-calc(1) solid rgba(white, 0.07);
    max-width: rem-calc(1440);
    margin: 0 auto;
    position: sticky;
    z-index: 100;
    top: 0;
    background: $cs-main-dark;

    .tablinks {
      background: transparent;
      color: $cs-accent-2;
      outline: none;
      border: none;
      box-shadow: none;
      margin: rem-calc(0 7);
      padding: rem-calc(14 28);
      border-radius: rem-calc(7);
      font-size: rem-calc(16);
      font-weight: 600;
      letter-spacing: rem-calc(0.3px);

      @include glass();

      cursor: pointer;

      &.active {
        @include glass($cs-accent, 0.3, 14px, $cs-accent, 0.14, 1.1);
        color: $cs-main-dark;
      }
    }
  }

  .tabcontent {
    max-width: rem-calc(1440);
    margin: 0 auto;
    color: $cs-text-color;
    text-align: center;

    .tab-des {
      text-align: center;
      max-width: rem-calc(700);
      line-height: 1.45;
      margin: 0 auto;
      margin-bottom: rem-calc(35);
      padding: rem-calc(35 0);

      h3 {
        margin-bottom: rem-calc(28);
      }

      p {
        margin-bottom: rem-calc(14);
      }
    }

    .gallery:not(.masonry) {

      .item {

        .logo {
          object-fit: contain;
          object-position: center;
          max-width: 80%;
          
        }
      }

      &.of-3 {
        grid-template-columns: repeat(auto-fill, minmax(25%,1fr));
    
        @include breakpoint (large down) {
          grid-template-columns: repeat(auto-fill, minmax(40%,1fr));
        }
    
        @include breakpoint (small only) {
          grid-template-columns: repeat(auto-fill, minmax(80%,1fr));
        }
      }
    }
  }
}

.item.lp {
  p {
    font-size: rem-calc(16);
    color: $cs-text-color;
    max-width: rem-calc(700);
    padding: rem-calc(42 0 21);
    text-align: center;
    margin: 0 auto;
  }  
}


.gallery.masonry {
  column-count: 4;
  column-gap: rem-calc(14);

  @include breakpoint(large down) {
    column-count: 3;
  }
  @include breakpoint(medium down) {
    column-count: 2;
  }
  @include breakpoint(small only) {
    column-count: 1;
  }

  .item {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: rem-calc(14);
    break-inside: avoid;

    img {
      grid-row: 1 / -1;
      grid-column: 1;
      max-width: 100%;
      display: block;
    }
  }
  
}