// page variables



// page elements
body.soon {
  background: $cs-main-dark;
  position: relative;
  z-index: 0;
  padding-bottom: rem-calc(140);

  // temp
  min-height: 300vh;


   .background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    &-top,
    &-bottom {
      &:after {
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: rem-calc(150px);
            z-index: 2;
            background: linear-gradient(0deg, rgba($cs-main-dark, 1), rgba($cs-main-dark, 0) 95%);
      }
    }

    &-top {
      background-image: url(../images/aurora.png);
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
      position: relative;
      height: calc(100vh + 200px);
      width: 100%;

      &:after {
        top: auto;
        bottom: 0;
      }

    }
    &-bottom {
      background-image: url(../images/aurora.png);
      background-size: cover;
      background-position: bottom center;
      background-repeat: no-repeat;
      position: relative;
      height: rem-calc(290px);
      width: 100%;

      &:after {
        top: rem-calc(-1px);
        background: linear-gradient(180deg, rgba($cs-main-dark, 1), rgba($cs-main-dark, 0) 85%);
      }
    }
  }
  
  main {
    position: relative;
    z-index: 2;
    width: 80%;
    max-width: rem-calc(1440);
    margin: 0 auto;
    padding: rem-calc(0 14);

    .logo-container {
      position: relative;
      height: rem-calc(56);
      width: rem-calc(205);
      padding: rem-calc(14 28);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: rem-calc(56);
      @include glass($cs-main-dark, 0.56, 7, #000, 0, 0);

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: rem-calc(14 28);
        color: #fff;
        text-decoration: none;
        font-family: $base-font;
        font-size: rem-calc(20);
      }
    }

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-height: 100vh;
      max-width: rem-calc(560);
      margin: 0 auto;
      text-align: center;
      padding: rem-calc(70 0);


      .cs-title {
        color: #fff;
        font-size: rem-calc(56);
        text-align: center;
        width: 100%;
        margin-top: auto;

        a {
          font-size: inherit;
          font-weight: inherit;
          text-decoration: none;
          color: $cs-accent;
        }
      }

      .cs-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {

          color: $cs-text-color;
          font-size: rem-calc(21);
          letter-spacing: rem-calc(1);
          font-weight: 600;
          font-family: $text-font;
          line-height: rem-calc(28);
        }

        ul {
          display: grid;
          list-style-type: none;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: rem-calc(21);

          li {

            a {
              font-size: rem-calc(14);
              text-transform: uppercase;
              letter-spacing: rem-calc(1);
              font-weight: 700;
              font-family: $text-font;
              line-height: rem-calc(28);
              color: $cs-accent;
              cursor: pointer;
              text-decoration: none;
            }
          }

        }
      }
    }
  }


  .resume {
    @include glass(#131419, 0.14, 7px, $border-alpha: 0.07);
    padding: rem-calc(56);
    border-radius: rem-calc(56);
    color: #fff;
    max-width: rem-calc(910px);
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-top: rem-calc(70);
    display: grid;
    grid-template-columns: 69% auto;
    grid-gap: rem-calc(0);


    &-subtitle {
      color: $cs-resume-green;
      font-size: rem-calc(18);
      letter-spacing: rem-calc(0.5);
      font-weight: 700;
      font-family: $tech-font;
      margin-bottom: rem-calc(10);
      line-height: 1;
    }

    &-timeframe {
      @extend .resume-subtitle;
      color: #fff;
      font-size: rem-calc(14);
      margin-bottom: rem-calc(14);
      letter-spacing: rem-calc(0.5);
    }

    &-title {
      font-family: $tech-font;
      max-width: rem-calc(450);
      margin-bottom: rem-calc(70);
      &-position {
        font-family: inherit;
        font-size: rem-calc(21);
        color: $cs-resume-beige;
        margin-bottom: rem-calc(14);
      }
      &-name {
        font-family: inherit;
        font-size: rem-calc(42);
        margin-bottom: rem-calc(28);
        font-weight: 700;
        span {
          color: $cs-resume-green;
          font: inherit;
          font-weight: inherit;
          font-size: inherit;
        }
      }

      &-intro {
        font-size: rem-calc(13);
        letter-spacing: rem-calc(1px);
        line-height: 1.4;
        font-weight: 600;
        margin-bottom: rem-calc(14);
      }
    }

    &-profile {
      position: relative;
      z-index: 0;
      display: grid;
      place-content: center;

      &-background {        
        width: rem-calc(500px);
        height: rem-calc(500px);
        position: absolute;
        top: rem-calc(-56);
        right: rem-calc(-56);
        background: url(../images/resume_corner.png);
        background-position: top right;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &-image {
        position: relative;
        width: rem-calc(280);
        height: rem-calc(280);
        border-radius: rem-calc(210);
        overflow: hidden;
        padding: rem-calc(6);
        background: linear-gradient(45deg, $cs-resume-green 0%, white 75%);
        box-shadow: rem-calc(7 14 56 0) rgba($cs-main-dark, 0.21);
        img {
          display: block;
          max-width: 100%;
        }

      }
    }

    &-work {
      position: relative;
      z-index: 1;
      padding-right: rem-calc(35);
      margin-right: rem-calc(35);
      border-right: rem-calc(2px) solid rgba(#fff, 0.07);

      &-title {
        text-transform: uppercase;
        letter-spacing: rem-calc(1);
        font-family: $tech-font;
        line-height: 1;
        font-size: rem-calc(18);
        color: $cs-resume-beige;
        font-weight: 700;
        margin-bottom: rem-calc(21);
      }

      &-section {
        margin-bottom: rem-calc(35);

        &-description {
          font-family: $text-font;
          font-size: rem-calc(14);
          font-weight: 500;
          letter-spacing: rem-calc(0.15);
          line-height: 1.7;
          margin-bottom: rem-calc(10);

          span {
            font: inherit;
            color: $cs-resume-beige;
          }
        }
      }
    }

    &-other {
      &-section {
        margin-bottom: rem-calc(56);

        &-title {
          @extend .resume-work-title;
        }

        &-description {
          list-style-type: none;
          @extend .resume-work-section-description;

          li {
            @extend .resume-work-section-description;
            margin-bottom: rem-calc(28);
            font-family: $text-font;
            line-height: 1.4;

            &[class*='resume-contact-'] {
              margin-bottom: rem-calc(7);
            }

            &.resume-languages .resume-subtitle {
              color: #fff;
            }
          }
        }

        .resume-languages {
          color: #fff;
        }
      }
    }
  }
}