footer {
    background: $primary;
    .logo {
        width: 60%;
        max-width: rem-calc(400px);
        margin: auto;
        display: block;
    }

    .main-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 5%;

        @include breakpoint(small only) {
            padding-top: 5%;
        }

        .primary-nav {
            display: flex;
            flex-grow: 1;
            justify-content: flex-start;
            align-items: center; 
    
            a {
                text-decoration: none;
                color: $white;
                display: block;
                
                transition: all 0.3s ease;
                text-transform: uppercase; 

                @include breakpoint(small only) {
                    padding: rem-calc(15px 10px);
                    font-size: $base-font-size - 4;
                }
                &:hover {
                    color: $secondary;
                }
            }
    
            .active {
                position: relative;
                color: $secondary;
    
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: rem-calc(20px);
                    width: 50%;
                    left: 25%;
                    height: rem-calc(3px);
                    background: $secondary; 
                }
            }
        }

        .copyright {
            background: darken($primary, 5%);
            width: 100%;
            padding: rem-calc(15px 0);

            * {
                color: $white;
                font-size: rem-calc(14px);

                @include breakpoint(small only) {
                    font-size: rem-calc(12px);
                    text-align: center;
                }
            }

            .container > .flex-list {
                
                @include breakpoint(small only) {
                    flex-direction: column-reverse;
                }
            }

            .flex-list {
                margin-bottom: 0;

                .flex-list {
                    justify-content: space-evenly!important;
                    padding-bottom: rem-calc(20px);
                }

                .flex-item {
                    margin-bottom: 0; 
                }
            }
        }

    }
}