.logo {
    max-width: 200px;
    width: 100%;
}

header {
    background: $primary;

    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: all 0.4s ease-in-out;

        @include breakpoint(small only) {
            display: block;
            height: rem-calc(50px);
            overflow: hidden;
            
            > * {
                width: 100%;
            }
        }

    }

    .logo-container {
        display: flex;
        align-self: stretch;
        align-items: center;
        @include breakpoint(small only) {
            height: rem-calc(50px);
            align-items: center;
            justify-content: center;

            a {
                pointer-events: none;
            }
        }

        a {
            display: block;
            line-height: 0;
        }
    }

    .primary-nav {
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
        align-items: center;
        padding-left: rem-calc(50px);

        @include breakpoint(small only) {
            flex-direction: column;
            justify-content: flex-start;
            padding-left: 0;
            width: 100%;
            position: absolute;
            left: -10000px;
            
            li {
                width: 100%;

                a {
                    display: block;
                    text-align: center;
                    padding: 5vh;
                }
            }
        }

        a {
            text-decoration: none;
            color: $white;
            display: block;
            padding: rem-calc(35px 20px);
            @include font($base-font-size, $base-font-size, 20px);
            transition: all 0.3s ease;
            text-transform: uppercase;

            &:hover {
                color: $secondary;
            }
        }

        .active {
            position: relative;
            color: $secondary;

            &:before {
                content: '';
                display: block;
                position: absolute;
                bottom: rem-calc(20px);
                width: 50%;
                left: 25%;
                height: rem-calc(3px);
                background: $secondary;

                @include breakpoint(small only) {
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 50%;
                    height: rem-calc(1px);
                }
            }
        }
    }

    .social-links {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: rem-calc(-10px);

        @include breakpoint(small only) {
            position: absolute;
            left: -1000px;
            justify-content: space-evenly;
        }

        a {
            color: $white;
            display: block;
            @include font($base-font-size, $base-font-size, 20px);
            font-family: 'FontAwesome';
            padding: rem-calc(35px 10px);
            transition: all 0.3s ease;

            &:hover {
                color: $secondary;
            }

        }
    }

}


header {

    .menu.open {
        height: calc(100vh - 50px);

        .primary-nav {
            position: relative;
            left: 0; 
        }
        .social-links {
            position: relative;
            left: 0;
        }
    }
}