body {
    position: relative;

    &.locked {
        overflow: hidden;
        padding-right: 17px;
    }
}

header {
    position: sticky;
    top:0;
    z-index: 1000;
}

section {
    padding: 5%;
    position: relative;
}

.page {
    background: $white;
}