#portfolio {

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        grid-gap: rem-calc(10px);

        .grid-cell {
            position: relative;

            .card {
                height: 100%;

                .card-body {
                    display: flex;
                    padding-bottom: rem-calc(30px);
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;

                    p {
                        flex-grow: 1;
                    }
                }
                .btn {
                    margin-top: rem-calc(20px);
                }
            }
        }
    }
}

.modal {
    position: fixed;
    top: 30%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    transition: all 0.35s ease-in-out;
    padding: 5%;

    &.opened {
        z-index: 2000;
        pointer-events: all;
        opacity: 1;
        top:0;
    }

    .close {
        position: absolute;
        top:0;
        right: 0;
        width: rem-calc(130px);
        height: rem-calc(130px);
        font-size: 0;
        z-index: 2001;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:before, &:after {
            content: '';
            position: relative;
            width: rem-calc(50px);
            height: rem-calc(2px);
            background: $white;
        }

        &:before {
            transform: translateX(50%) rotate(45deg);
        }

        &:after {
            transform: translateX(-50%) rotate(-45deg);
        }
    }
    iframe {
        position: relative;
    }
}
    
.modal-web {

    .grid {
        display: grid;
        grid-template-columns: 10% 30% 20% 20% 10% 10%;
        grid-template-rows: 10vh 30vh 30vh 10vh;

        .grid-cell {

            .slick-slider {
                width: 100%;
                height: 100%;
                position: relative;
                border-radius: rem-calc(5px);
                box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.4);

                * {
                    width: 100%;
                    height: 100%;
                    outline: none;
                }

                .slick-slide {
                    border-radius: rem-calc(5px);
                    overflow: hidden;
                    
                    img {
                        object-fit: cover;
                        object-position: top center;
                        border-radius: rem-calc(5px);
                        box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.4);
                    }
                }

                .slick-next, .slick-prev {
                    width: auto;
                    height: auto;
                    bottom: 0;
                    right: 0;
                    top:auto;
                    left:auto;
                    width: 20px;
                    height: 20px;

                    &:before {
                        content: ''!important;
                        display: block;
                        width: 20px;
                        height: 20px;
                        border: 1px solid $white;
                        transform: translate(-50%, -50%) rotate(45deg);
                        position: absolute;
                        top:50%;
                        left:50%;


                    }
                }

                .slick-next {
                    transform: translate(0%, 200%)!important;
                    &:before {
                        border-left-color: transparent;
                        border-bottom-color: transparent;
                    }
                }
                .slick-prev {
                    transform: translate(-700%, 200%)!important;
                    &:before {
                        border-right-color: transparent;
                        border-top-color: transparent;
                    }
                }
            }

            .slick-numbers {
                position: absolute;
                right: 0;
                bottom: 0;
                transform: translate(-150%, 200%);
                line-height: 20px;
                color: $white;
                width: rem-calc(40px);
                text-align: center;
            }
        }

        .front {

            .slick-slider {
                box-shadow: none;
                
                .slick-slide {
                    box-shadow: none;
                    
                    img {
                        object-fit: contain;
                        object-position: center center;
                        max-height: 100%;
                        width: 100%;
                        height: auto;
                    } 
                }
            }
        }

        .back {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 5;
        }

        .front {
            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 4;
        }

        .type {
            grid-column-start: 5;
            grid-column-end: 7;
            grid-row-start: 2;
            grid-row-end: 4;
            
            display: flex;
            padding: rem-calc(20px);
            align-items: center;

            .web-title, p {
                margin-bottom: rem-calc(20px);
            }
        }
    }
}

.modal-logo {
    padding: 5% 10%;

    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 40vh 40vh;
        grid-gap: 40px;
        grid-template-areas: "type shown" 
                            "items shown";
    }

    .shown {
        grid-area: shown;
    }

    .items {
        grid-area: items;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .type {
        grid-area: type;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shown {
        height: 100%;

        .slick-slider {
            width: 100%;
            height: 100%;
            position: relative;
            border-radius: rem-calc(5px);

            * {
                width: 100%;
                height: 100%;
            } 

            .slick-slide {
                border-radius: rem-calc(5px);
                overflow: hidden;

                img {
                    object-fit: contain;
                    object-position: center center;
                }
            }
        }
    }

    .carousel-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        grid-gap: rem-calc(20px);
        width: 100%;

        img {
            &.active {
                opacity: 0.4;
            }
        }
    }
}