.js30-content {
    .project-wrapper {

        @media screen and (max-width: 1023px) {
            height: calc(100dvh - 250px);
            overflow-y: scroll;
        }

        &.fixed #main {
            position: fixed;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
        }

        &.fixed #main li.logo {
            max-width: 250px;
            transition: all 1s ease-in;
        }

        .lesson {
            .site-wrap {
                max-width: 800px;
                margin: 70px auto;
                padding: 40px;
                text-align: justify;
                box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
                transform: scale(0.98);
                transition: transform 0.5s;
                line-height: 1.34;

                @media screen and (max-width: 767px) {
                    margin: 20px auto;
                    padding: 0;
                }
            }

            h1 {
                color: white;
                font-size: 56px;
                text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2);
                margin-bottom: 20px;

                @media screen and (max-width: 767px) {
                    font-size: 21px;
                    text-align: center;
                    width: 100%;
                }
            }

            nav {
                background: black;
                top: 0;
                width: 100%;
                transition: all 0.5s;
                position: relative;
                z-index: 1;
            }

            nav ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
            }

            nav li {
                flex: 1;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

                &:last-child {
                    @media screen and (max-width: 767px) {
                        display: none;
                    }
                }
            }

            li.logo {
                max-width: 0;
                overflow: hidden;
                background: white;
                transition: all 1s ease-out;
                font-weight: 600;
                font-size: 30px;
            }

            li.logo a {
                color: black;
            }

            nav a {
                text-decoration: none;
                padding: 20px;
                display: inline-block;
                color: white;
                transition: all 0.2s;
                text-transform: uppercase;
                
                @media screen and (max-width: 767px) {
                    padding: 10px;
                }
            }

            #main {
                box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.2);
                transition: all 0.25s cubic-bezier(1, -0.43, 0.15, 1.24);
                width: 100%;
                max-width: 800px;
            }
        }
    }
}