.js30-content .project-wrapper {
  background: #141414;
}
.js30-content #numbers {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
}
.js30-content #numbers .wf {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.js30-content #numbers .dot {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  background: var(--accent);
  opacity: 0.2;
  border-radius: 50%;
}
.js30-content #numbers .dot:nth-child(5n-2) {
  opacity: 0;
}
.js30-content .clock {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  background: #141414;
  -webkit-box-shadow: 0px 0px 0px 10px #141414, inset 0px -30px 40px 0px #1e1e1e, 0px -30px 30px 0px #1e1e1e, inset 0px 10px 20px 0px black, 0px 10px 60px 0px black;
          box-shadow: 0px 0px 0px 10px #141414, inset 0px -30px 40px 0px #1e1e1e, 0px -30px 30px 0px #1e1e1e, inset 0px 10px 20px 0px black, 0px 10px 60px 0px black;
}
@media screen and (max-width: 767px) {
  .js30-content .clock {
    width: 80vw;
    height: 80vw;
  }
}
.js30-content .clock-face {
  position: relative;
  width: 100%;
  height: 100%;
}
.js30-content .clock-face:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--accent);
  z-index: 2;
  -webkit-box-shadow: 0 0 0 7px #141414;
          box-shadow: 0 0 0 7px #141414;
}
.js30-content .hand {
  width: 50%;
  height: 10px;
  background: #c7c7c7;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  -webkit-transform-origin: 100%;
      -ms-transform-origin: 100%;
          transform-origin: 100%;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.05s cubic-bezier(0, 2.64, 0.22, 0.41);
  transition: all 0.05s cubic-bezier(0, 2.64, 0.22, 0.41);
}
.js30-content .min-hand {
  width: 45%;
  margin-left: 5%;
  height: 6px;
}
.js30-content .second-hand {
  background: var(--accent);
  height: 4px;
}
.js30-content .hour-hand {
  width: 30%;
  margin-left: 20%;
  height: 10px;
}
.js30-content .hand.fast {
  -webkit-transition: none;
  transition: none;
}