// ===============================================
// Buttons
// ===============================================
.btn {
    position: relative;
    display: inline-block; 
    padding: $btn-padding;
    margin-bottom: 0;
    font-size: $base-font-size;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation; 
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.25s ease;
    text-transform: uppercase;
    min-width: rem-calc(165px);

    &.btn-default {
        border: 1px solid $input-color;
    }

    &.btn-small {
        padding: $btn-small-padding;
        font-size: $base-font-size - 4;
    }

    &.btn-large {
        padding: $btn-large-padding;
        font-size: $base-font-size + 2;
    }

    &.btn-rounded {
        border-radius: 50px;
    }

    &:hover,
    &:focus,
    &:active {
        color: inherit;
    }
}




$buttons: ( primary: $primary,
secondary: $secondary,
accent: $accent);

@each $key,
$color in $buttons {
    .btn-#{$key} {
        background: #{$color};
        color: $white;
        &:hover {
            background: lighten($color, 5%);
            color: $white;
        }
        &:focus,
        &:active {
            background: darken($color, 5%);
            color: $white;
        }
    }
    .btn-bordered-#{$key} {
        border-color: #{$color};
        color: #{$color};
        &:hover {
            background: lighten($color, 5%);
            color: $white;
        }
        &:focus,
        &:active {
            background: darken($color, 5%);
            color: $white;
        }
    }
}

//ripple
.ripple {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    border-radius: inherit;
    pointer-events: none;
}

.rippleWave {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 50%;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    background: rgba(255, 255, 255, 0.5);
    opacity: 0.45;
    animation: ripple 2s forwards;
    -webkit-animation: ripple 2s forwards;
}


@keyframes ripple {
    to {
        transform: scale(24);
        opacity: 0;
    }
}

@-webkit-keyframes ripple {
    to {
        -webkit-transform: scale(24);
        opacity: 0;
    }
}
