.js30-content {
    
        .inbox {
            max-width: 400px;
            margin: 50px auto;
            border-radius: 5px;
            box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
        }
    
        .item {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #444;
        }
    
        .item:last-child {
            border-bottom: 0;
        }
    
        input:checked+p {
            text-decoration: line-through;
        }
    
        input[type="checkbox"] {
            margin: 20px;
        }
    
        p {
            margin: 0;
            padding: 20px;
            transition: background 0.2s;
            flex: 1;
            font-size: 20px;
            font-weight: 200;
        }
}