section {
  min-height: 100vh;

  max-width: rem-calc(1442 + 140 + 140);
  padding: rem-calc(0 140);
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: rem-calc(70);
  font-weight: 700;
  letter-spacing: rem-calc(-0.5);
  line-height: 1.4;
  position: relative;

  &.single-column {
    grid-template-columns: 1fr;
  }

  .title {
    font: inherit;
    font-size: rem-calc($sectionTitleSize);
    display: block;
    width: 100%;
    line-height: 0.98;

    &.has-subtitle {
      display: block;
      position: relative;

      &:after {
        content: attr(data-subtitle);
        top: 100%;
        display: inline-block;
        left: 50%;
        transform: translate(-50%, 140%);
        text-align: center;
        color: inherit;
        font-size: rem-calc(21);
        position: absolute;
        letter-spacing: rem-calc(2px);

        font-family: $font300;
      }
    }
  }
  .text {
    font: inherit;
    font-size: rem-calc($sectionTextSize);
    max-width: rem-calc(700);
    display: block;
    width: 100%;
    letter-spacing: rem-calc(0.2);
  }

  .text-block {
    @include flex-column-center;
    flex-shrink: 0;
    align-self: center;
  }

  &.text-center {
    .text-block {
      .title, .text {
        text-align: center;
      }
    }

  }
  &.text-left {
    .text-block {
      align-items: flex-start;
      .title, .text {
        text-align: left;
      }
    }
  }
  &.text-right {
    .text-block {
      align-items: flex-end;
      .title, .text {
        text-align: right;
      }
    }
  }
}
