<section class="text-left" id="about">
    <div class="text-block">
        <h2 class="title" title="I am Alexandru Gatea, a UX Engineer">
            <span>My Name</span>
            <span>Is Alex</span>
        </h2>
        <p class="text">
            <span>
                I'm a UIUX Artist and Engineer based in the city of Cluj-Napoca, Transylvania.
                I work in design since 2010 and coding is an important step in my design process.
            </span>

        </p>

        <a href="/about" title="Alexandru Gatea | About me" class="button internal kursor-hover link">
            <span>Read More</span>
        </a>
    </div>
    <div class="graphic-block about-me">
        <div class="graphic-block-container about-me kursor-hover" data-hover-text="Hover me">
            <div class="card circle">
                <img src="images/about/left.svg" alt="">
            </div>
            <div class="card circle">
                <img src="images/about/bottom.svg" alt="">
            </div>
            <div class="card circle">
                <img src="images/about/center.svg" alt="">
            </div>
            <div class="card circle">
                <img src="images/about/right.svg" alt="">
            </div>
            <div class="card circle">
                <img src="images/about/abtm.png" alt="">
            </div>
            <img src="images/about/about_me.png" class="abtm" alt="Alexandru Gatea's Profile Picture">
        </div>
        <img src="images/about/abtm.png" class="mobile-only" alt="Alexandru Gatea's Profile Picture">
    </div>
</section>