<div id="cookie-banner">
    <p>This is a static website and it does not store cookies. I do not collect any data other than customization options that are stored in your local storage, to enhance your experience.
        <br>
        However some external services like Google Fonts or LightGallery.js
        may collect data. By continuing to navigate this website, you consent to the use of these external services.
    </p>
    <button id="accept-cookies" class="kursor-hover accept">Accept</button>
</div>

<div id="cookiebanner" lang="[#LANGUAGE#]" dir="[#TEXTDIRECTION#]" ng-non-bindable>
  <div id="c-left">
    <p class="c-header">[#TITLE#]</p>
    <p class="c-message">[#TEXT#]</p>
  </div>
  <div id="c-right">
    <a href="javascript:void(0)" onclick="Cookiebot.dialog.submitConsent()" class="c-button">OK</a>
  </div>
  <div style="clear:both"></div>
</div>