    <meta name="msapplication-TileColor" content="#070707">
    <meta name="theme-color" content="#070707">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" media="(prefers-color-scheme: light)" color="#070707">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" media="(prefers-color-scheme: dark)" color="#c7c7c7">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">