<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="I craft engaging digital experiences through the power of code and design.">
<meta name="keywords"
    content="Web Developer, Web Designer, Front-end Developer, UI/UX Designer, Website Development, Website Design, Responsive Design, Cluj-Napoca Web Developer, Cluj-Napoca Web Designer, HTML, CSS, JavaScript, Mobile Responsive Design, User Experience, User Interface, Graphic Design, Portfolio Websites, Custom Web Solutions, SEO Optimization">
<meta name="robots" content="index, follow">
@@include('favicon.html')
<meta property="og:title" content="Alexandru Gatea | Sr UX Engineer">
<meta property="og:description" content="I craft engaging digital experiences through the power of code and design.">
<meta property="og:url" content="https://www.alexandrugatea.com">
<meta property="og:image" content="https://alexandrugatea.com/build/images/meta.png">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Alexandru Gatea | Sr UX Engineer">
<meta property="og:locale" content="en_US">

<meta property="twitter:title" content="Alexandru Gatea | Sr UX Engineer">
<meta property="twitter:description" content="I craft engaging digital experiences through the power of code and design.">
<meta property="twitter:url" content="https://www.alexandrugatea.com">
<meta property="twitter:image" content="https://alexandrugatea.com/build/images/meta.png">
<meta property="twitter:type" content="website">
<meta property="twitter:site_name" content="Alexandru Gatea | Sr UX Engineer">
<meta property="twitter:locale" content="en_US">


<!-- <link rel="shortcut icon" href="dark.ico" media="(prefers-color-scheme: light)">
<link rel="shortcut icon" href="light.ico" media="(prefers-color-scheme: dark)">
<link rel="apple-touch-icon" href="dark.ico" media="(prefers-color-scheme: light)">
<link rel="apple-touch-icon" href="light.ico" media="(prefers-color-scheme: dark)">
<link rel="icon" href="dark.ico" media="(prefers-color-scheme: light)">
<link rel="icon" href="light.ico" media="(prefers-color-scheme: dark)"> -->

<title>@@title</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Alexandru Dan Gatea",
    "url": "http://www.alexandrugatea.com",
    "jobTitle": [
        "User Experience Engineer",
        "User Interface Engineer",
        "UX Designer",
        "UX Engineer",
        "UI Designer",
        "UI Engineer",
        "Web Designer",
        "Web Developer",
        "Graphic Designer"
    ],
    "alumniOf": {
        "@type": "EducationalOrganization",
        "name": "Universitatea de Stiinte Agricole si Medicina Veterinara Cluj-Napoca",
        "sameAs": "https://www.usamvcluj.ro/"
    },
    "worksFor": [
        {
            "@type": "Organization",
            "name": "Stromer",
            "sameAs": "https://www.stromerbike.com"
        },
        {
            "@type": "Organization",
            "name": "Telenav",
            "sameAs": "https://www.telenav.com"
        }
    ],
    "sameAs": [
        "https://www.linkedin.com/in/alexandru-gatea/",
        "https://github.com/alexandrugatea",
        "https://github.com/alexandrugatea"
    ],
    "homeLocation": {
        "@type": "Place",
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Cluj-Napoca",
            "addressRegion": "Cluj",
            "addressCountry": "RO"
        }
    },
    "knowsLanguage": ["English", "Romanian"],
    "knowsAbout": ["Web Development", "UX/UI Design", "Figma", "Prototyping", "Map Styling", "3D Animation", "SCSS", "JavaScript", "Logo Design", "Graphic Design", "Photoshop", "Illustrator", "Web Design", "Git", "Jira", "Confluence", "Microsoft Office", "Word", "PowerPoint", "Excel", "Adobe XD", "CSS", "Animations", "JavaScript Interractions"],
    "description": "I craft engaging digital experiences through the power of code and design.",
    "image": "https://alexandrugatea.com/build/images/about/abtm.png"
}
</script>
<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="ab12bcd5-fcff-4a12-9833-fa1372d43ce9" data-blockingmode="auto" type="text/javascript"></script>