.hero {
	// add top margin to complement for the fixed positioned nav
	margin-top: rem-calc(70);

	background: $colorDark;
	color: $colorLightText;
	padding: rem-calc(80 0);

	&-content {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		gap: rem-calc(50);
	}

	&-description {
		> * {
			margin-bottom: rem-calc(35);
		}
	}

	&-title {
		@include text($textSizeHeroTitle, 800);
	}

	&-text {
		@include text($textSizeHeroText, 400);
	}

	&-image {
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;

		background: rgba($colorLightText, 0.2);

		position: relative;

		&:before {
			content: "this is a placeholder for an image";
			position: absolute;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 0;
			left: 0;
		}
	}
}
