// Select anything and anything's before and after pseudo-elements
// and reset their default behaviour
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

body {
    position: relative;
    @include text();
}
ul, ol {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}
