//  Define variables for the project

// Colors
$colorDark: #1f2937;
$colorLight: #f9faf8;
$colorLightText: #e5e7eb;
$colorCta: #3882f6;

// Sizes
$textSizeNavLogo: 24px;
$textSizeNavItem: 18px;

$textSizeHeroTitle: 48px;
$textSizeHeroText: 18px;

$textSizeSectionTitle: 36px;
$textSizeQuoteText: 36px;

$containerSize: 1024px;

