.da-card {
    position: relative;
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: auto;
    margin-bottom: $gutter;
    position: relative;
    background: $white;
    border-radius: 4px;
    @include box-shadow(1);

    .da-card-header {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .da-card-footer {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .da-card-header,
    .da-card-body,
    .da-card-footer {
        padding: $half-gutter;
    }
    .da-card-header {
        * {
            padding: 0;  
        }
    }
    .da-card-body {
        flex-grow: 1;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}

$card-heights: ( tall: $card-tall,
medium: $card-medium,
small: $card-small);

@each $key,
$height in $card-heights {
    .da-card-#{$key} {
        height: $height;
    }
}

[class*='col'] {

    .da-card {
        height: 100%;

        .da-card-body {
            flex-grow: 1;
        }
    }
}

