.flex-list {
    display: flex;
    flex-basis: 100%;
    width: auto;
    flex-wrap: nowrap;
    list-style-type: none;
    margin-left: -($half-gutter);
    margin-right: -($half-gutter);
    margin-bottom: -$gutter;
    list-style-type: none;
    &.flex-center { 
        justify-content: center;
    }
    &.flex-space-between {
        justify-content: space-between;
    }
    &.flex-space-around {
        justify-content: space-around;
    }
    &.flex-left {
        justify-content: flex-start;
    }
    &.flex-right {
        justify-content: flex-end;
    }
    &.flex-vertical-center {
        align-items: center;
    }
    &.flex-vertical-top {
        align-items: flex-start;
    }
    &.flex-vertical-bottom {
        align-items: flex-end;
    } 
    &.flex-wrap {
        flex-wrap: wrap;   
    }
    &.flex-row {
        flex-direction: row;
    }
    &.flex-row-reverse {
        flex-direction: row-reverse;
    }
    &.flex-column {
        flex-direction: column;
        margin-bottom: 0;
        .flex-item {
            margin-bottom: 0;
        }
    }
    &.flex-column-reverse {
        flex-direction: column-reverse;
    }
    &.flex-full {
        height: 100%; 
    }
    .flex-item {
        padding-left: $half-gutter;
        padding-right: $half-gutter;
        margin-bottom: $gutter;
        .flex-list {
            margin-bottom: 0;
        }
    }
    
}




// ===============================================
// flex columns
// flex-1 - one item - 100%
// flex-4 - four items - 25% each
// ===============================================

@for $i from 1 through 10 {
    .flex-#{$i} {
        > .flex-item {
            width: percentage(1 / $i); 
        }
    }
}

@media screen and #{$xs} {
    .flex-list > .flex-item {
        width: 100%;
    }
}

